.blog-content {
  max-width: 900px;

  .highlight {
    pre {
      padding: 16px;
      border-radius: 8px;
    }
  }

  h2, h3, h4, h5{
    padding-top: 1em;
    font-weight: bold;
  }

  strong{
    color: $danger
  }
}

.blog-content h2,
.blog-content h3,
.blog-content h4{
   text-transform: uppercase;
   color: #c00;
}