<div class="user_profile card border-1 p-0 p-lg-2 my-2 mx-lg-3 lg-rounded gradient-profile-card" style="border-radius: 15px;">
    <div class="card-up " style="background-image: url('/images/waves.jpg');"></div>
    <div class="avatar mx-auto bg-white">
        <img src="/images/teachers-spiderman.png" class="rounded-circle img-fluid" />
    </div>
    
    <div class="card-body text-center">
        <h5 class="fw-bold text-uppercase">Spyder Academy</h5>
        <p class="text-white">@spyderacademy</p>
        
        <div class="d-flex justify-content-between mb-3">
            <div class="container p-0">
                <div class="row">
                    <div class="col-12 p-1" >
                        <a href="/tradesocial/"class="view_button btn btn-success btn-sm px-5 py-2 w-100">VIEW</a>
                    </div>
                    <div class="col-6 p-1" >
                        <a href="" class="btn btn-success btn-sm px-5 py-2 w-100 d-none">FOLLOW</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 p-0" >
                        <div class=" card  border-0 m-1 lg-rounded text-white bg-transparent">
                            <p class=" p-2 m-0" style="font-size: 0.8em">FOLLOWERS</p>
                            <h4 id="numFollowers">-</h4>
                        </div>
                    </div>

                    <div class="col-6 p-0">
                        <div class=" card  border-0 m-1 lg-rounded text-white bg-transparent">
                            <p class="p-2 m-0" style="font-size: 0.8em">WINRATE</p>
                            <h4 id="winRate">-</h4>
                        </div>
                    </div>
                    
                </div>
                <div class="row bg-light lg-rounded badges justify-content-evenly" style="border-radius: 15px;"></div>
            </div>
            
        </div>
    </div>
</div>