<div id="user_profile_card" class="user_profile card border-0 p-0 p-lg-2 mx-lg-3 lg-rounded d-none">
    <div id="profile_banner" class="card-up" style="background-image: url('/images/waves.jpg');"></div>
    <div class="avatar mx-auto bg-white">
        <img id="profile_avatar" src="/images/teachers-spiderman.png" class="rounded-circle img-fluid" />
    </div>
    <div class="card-body text-center">
        <h5 id="profile_name" class="fw-bold mb-0 text-uppercase">Spyder Academy</h5>
        <p id="profile_handle" class="text-muted">@spyderacademy</p>
        <div id="profile_socials" class="mb-3">
            
        </div>
        <div class="d-flex justify-content-between mb-3">
            <div class="container p-0">
                <div class="row">
                    <h5 class="text-muted mb-0  text-start">STATISTICS</h5>
                </div>
                <div class="row">
                    <div class="col-6 p-0" >
                        <div class="details card  border-0 m-1 lg-rounded text-white" style="background: linear-gradient(90deg, #ffde59, #ff941d);">
                            <p class="p-2 m-0" style="font-size: 0.8em">POSTED TRADES</p>
                            <h4 id="numTrades">-</h4>
                        </div>
                    </div>
                    <div class="col-6 p-0" >
                        <div class="details card  border-0 m-1 lg-rounded text-white" style="background: linear-gradient(90deg, #ffde59, #ff941d);">
                            <p class=" p-2 m-0" style="font-size: 0.8em">FOLLOWERS</p>
                            <h4 id="numFollowers">-</h4>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="mb-3">
            <div id="profile_badges_row" class="container p-0 d-none">
                <div class="row">
                    <h5 class="text-muted mb-0 text-start">BADGES</h5>
                </div>
                <div id="profile_badges" class="row bg-light lg-rounded badges justify-content-evenly"></div>
            </div>
        </div>
        <div class="mb-3">
            <div class="container p-0">
                <div class="row">
                    <h5 class="text-muted mb-0 text-start">PERFORMANCE</h5>
                </div>
                <div class="row">
                    <div class="col-4 p-0">
                        <div class="details card  border-0 m-1 lg-rounded text-white" style="background: linear-gradient(90deg, #0cc0df, #ffde59);">
                            <p class="p-2 m-0" style="font-size: 0.8em">WINRATE</p>
                            <h4 id="winRate"></h4>
                        </div>
                    </div>
                    <div class="col-4 p-0">
                        <div class="details card  border-0 m-1 lg-rounded text-white" style="background: linear-gradient(90deg, #004aad, #cb6ce6);">
                            <p class=" p-2 m-0" style="font-size: 0.8em">AVG GAIN</p>
                            <h4 id="avgGain"></h4>
                        </div>
                    </div>
                    <div class="col-4 p-0">
                        <div class="details card  border-0 m-1 lg-rounded text-white" style="background: linear-gradient(90deg, #ffde59, #ff941d);">
                            <p class="p-2 m-0" style="font-size: 0.8em">BAGS</p>
                            <h4 id="profitFactor"></h4>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <p class="text-muted mb-0">Teams</p>
        <h6 class="fw-bold mb-0">SPYDER ACADEMY</h6>
    </div>
</div>