<div id="contractDetailsCard" class="rightpanel-details-card d-none">
    <div class="details-card card border-0 shadow d-flex lg-rounded">
        <div class="card-body">
            <div class="contract_banner trade_card card  border-0 p-2 mx-0 my-lg-1 lg-rounded gradient-green" >
                <div class="card-body p-1 tradeRow">
                    <div class="container p-0">
                        <div class="row align-items-center">
                            <div class="col-2 m-0">
                                <img class="tradeLogo" src="" style="width: 3em; border-radius: 2em; border: 3px solid white;" />
                            </div>
                            <div class="col-10 px-3">
                                <div class="row">
                                    <div class="col-8 small lh-1 fw-bold text-uppercase traderName tracking-wide"></div>
                                    <div class="col-4"></div>
                                </div>
                                <div class="row">
                                    <div class="col-8 fs-3 lh-1 tradeContract tracking-wide"></div>
                                    <div class="col-4 fs-3 lh-1 tradeGain text-end"></div>
                                </div>
                                <div class="row">
                                    <div class="col-10  small lh-1 tradeNotes text-muted text-uppercase tracking-wide" style="overflow: hidden; text-overflow: ellipses; white-space: nowrap;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="my-3 py-3 card shadow border-0 lg-rounded bg-black">
                <div class="tvChartHeader"></div>
            </div>
            <div class="tradeActions py-3 text-center"></div>

            <div class="entryExitNotes small lh-1 p-3 card shadow border-0" style="border-radius: 1em; background-color: #BFE1CF;"></div>
        </div>
    </div>
</div>