<meta name="twitter:card" content="summary_large_image"/>

  {{ with $.Resources }}
    {{ with .GetMatch (printf "**/%s" "{cover.*}") }}
        {{ $cover := .Resize "1000x" }}
        {{ with $cover }}
          <meta name="twitter:image" content="{{ .Permalink }}">
        {{ end }}
    {{ end }}
  {{ end }}

  {{- if not .IsPage }}
    {{ $defaultImage := "/images/cover.png" }}
    <meta name="twitter:image" content="{{ $defaultImage | absURL }}">
  {{ end -}}
<meta name="twitter:title" content="{{ .Title }}"/>
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}"/>
{{ with .Site.Social.twitter -}}
<meta name="twitter:site" content="@{{ . }}"/>
{{ end }}