<div id="cookieConsent" class="fixed-bottom bg-dark p-3 text-center cookie-consent d-none">
  <div class="container">
      <div class="d-flex justify-content-between">
          <div class="text-light">
              By using our site, you acknowledge that you have read and understand our <a class="text-light" href="/privacy/#cookies">Cookie Policy</a>, <a class="text-light" href="/privacy/">Privacy Policy</a>, and our <a class="text-light" href="/termsofuse/">Terms of Service</a>.
          </div>
          <button type="button" class="btn btn-secondary consent-button">I Agree</button>
      </div>
  </div>
</div>

<script>
  $(document).ready(function(){

    showCookiePopup();

    $('.consent-button').click(function(){
        $('#cookieConsent').fadeOut();

        const now = new Date();
        const expires = new Date(now.getTime() + (60 * 60 * 1000)); // Adds 1 hour to the current time, so after dismissing it, you wont see it for another hour
        document.cookie = 'cookieConfirmClosed=true; expires=' + expires.toUTCString() + '; path=/';
    });

    function showCookiePopup(){
      if (shouldDisplayCookieAlert())
        $('#cookieConsent').removeClass('d-none');
    }

    // Function to check if the modal should be displayed
    function shouldDisplayCookieAlert() {
      const today = new Date();
      const cookie = document.cookie
        .split('; ')
        .find(row => row.startsWith('cookieConfirmClosed='))
        ?.split('=')[1];

      return cookie !== 'true'; 
    }

  });
</script>