{{ if isset .Params "course" }}
    {{ $currentCourse := .Params.course }}
    {{ $allPages := .Site.RegularPages }}
    {{ $coursePages := slice }}
    
    {{ range $allPages }}
        {{ if isset .Params "course" }}
        {{ if in .Params.course $currentCourse }}
            {{ $coursePages = $coursePages | append . }}
        {{ end }}
        {{ end }}
    {{ end }}
    
    {{ $sortedTaxonomyPages := $coursePages.ByDate }}
    
    {{ if gt (len $sortedTaxonomyPages) 1 }}
        {{ $currentPage := . }}
        {{ $currentPageIndex := -1 }}
        {{ range $index, $page := $sortedTaxonomyPages }}
        {{ if eq $page $currentPage }}
            {{ $currentPageIndex = $index }}
        {{ end }}
        {{ end }}




        {{ $nextTaxonomyPage := index $sortedTaxonomyPages (add $currentPageIndex 1) }}

        {{ $totalLessons := len $sortedTaxonomyPages }}
        <div class="col-12 mb-5 mb-md-4 d-flex text-center justify-content-center">
            <div class="card shadow border-0  testimonial-card d-flex" style="border-radius: 15px;">
                <div class="card-header">
                {{ $currentCourse }}<br/>
                {{ if ne $currentPageIndex -1 }} Lesson {{ add $currentPageIndex 1 }} of {{ $totalLessons }}{{ end }}
                </div>
                <ul class="list-group list-group-flush">
                {{ if $nextTaxonomyPage }}
                    <li class="list-group-item text-black-61 px-2 mb-0 text-justify">
                        {{ if eq $currentPageIndex 0 }} <a class="btn btn-lg btn-block btn-secondary" href="{{ $nextTaxonomyPage.RelPermalink }}">Start Lesson</a>
                        {{ else }} <a class="fw-bold text-primary  text-decoration-none" href="{{ $nextTaxonomyPage.RelPermalink }}">Next Lesson: {{ $nextTaxonomyPage.LinkTitle }}</a>
                        {{ end }}
                    </li>
                {{ end }}

                {{ with $sortedTaxonomyPages }}
                    {{ $currentModule := "" }}
                    {{ range $index, $page := . }}
                        <!-- Course Outline Header -->
                        {{ if eq $index 0 }}
                            <li class="list-group-item px-2 mb-0 text-justify bg-dark text-white">
                                <div class="row text-center">
                                    <div class="col-12 text-left"><a class="text-decoration-none text-white px-2" href="{{ .RelPermalink }}">Course Outline</a></div>
                                </div>
                            </li>
                        {{ end }}

                        <!-- Generic Modules Header -->
                        {{ if eq $index 1 }}
                            {{ if not .Params.module }}
                                <li class="list-group-item px-2 mb-0 text-justify bg-dark text-white">
                                <div class="row text-center">
                                    <div class="col-12 text-left"><a class="text-decoration-none text-white px-2" href="{{ .RelPermalink }}">Lessons</a></div>
                                </div>
                                </li>
                            {{ end }}
                        {{ end }}

                        <!-- Module Section -->
                        {{ if .Params.module }}
                            {{ if ne .Params.module $currentModule }}
                            {{ $currentModule = .Params.module }}
                            <li class="list-group-item px-2 mb-0 text-justify bg-dark text-white">
                                <div class="row text-center">
                                <div class="col-12 text-left"><a class="text-decoration-none text-white px-2" href="{{ .RelPermalink }}">{{ $currentModule }}</a></div>
                                </div>
                            </li>
                            {{ end }}
                        {{ end }}

                        <!-- Lesson -->
                        <li class="list-group-item text-black-61 px-2 mb-0 text-justify {{ if eq . $currentPage }} bg-blue-light {{ end }}">
                            <div class="row text-center">
                                <div class="col-12 text-left"><a class="text-decoration-none" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></div>
                            </div>
                        </li>
                    {{ end }}
                {{ end }}

                </ul>
                <div class="card-footer text-muted">
                <a class="btn btn-lg btn-block btn-primary" style="border-radius: 0.5em"  href="https://whop.com/checkout/plan_bCMjkbQ9TJsN2?d2c=true" >Try Spyder Academy</a>
                </div>
                </div>
                
            </div>
        </div>
    {{ end }}
{{ end }}