<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container  card shadow">
    <div class="tradingview-widget-container__widget"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-events.js" async>
    {
    "width": "400",
    "height": "380",
    "colorTheme": "light",
    "isTransparent": false,
    "locale": "en",
    "importanceFilter": "0,1",
    "countryFilter": "us"
  }
    </script>
</div>
<!-- TradingView Widget END -->