<div class="card shadow p-3 calendar-column">
  <div class="container scrollable-table">
      <div id="calendar"></div>
  </div>
</div>

<script>
    $(document).ready(function () {
        $.ajax({
            url: "https://us-central1-spyder-academy.cloudfunctions.net/economic_calendar",
            method: "GET",
            success: function (data) {
                renderCalendar(data);
            },
            error: function (error) {
                console.error("Error fetching data:", error);
            }
        });

        function getColorByImpact(impact) {
            switch (impact.toLowerCase()) {
                case 'low':
                    return 'lightgrey';
                case 'med':
                    return 'black';
                case 'high':
                    return 'red';
                default:
                    return 'black';  // default color if impact is not recognized
            }
        }

        function parseDateString(dateString) {
            const currentYear = new Date().getFullYear();
            return new Date(`${dateString} ${currentYear}`);
        }

        function isFutureDate(dateString) {
            const eventDate = parseDateString(dateString);
            const currentDate = new Date();
            currentDate.setHours(0, 0, 0, 0);  // Ignore time part
            return eventDate >= currentDate;
        }

        function renderCalendar(data) {
            let calendarDiv = $("#calendar");

            data.filter(day => isFutureDate(day.Date)).forEach(day => {
                let dayHeader = `<div class="small p-1 px-3 mt-3 fw-bold bg-secondary text-white">${day.Date}</div>`;
                let table = `
                    <table class="table table-condensed">
                        <tbody>
                            ${day.Events.map(event => `
                                <tr class="small w-100" style="color: ${getColorByImpact(event.Impact)};">
                                    <td class="p-0 border-0 col-2">${event.Time}</td>
                                    <td class="p-0 border-0 col-9">${event.Release}</td>
                                    <td class="p-0 border-0 col-2">${event.Impact}</td>
                                </tr>
                            `).join('')}
                        </tbody>
                    </table>
                `;

                calendarDiv.append(dayHeader + table);
            });

            if (calendarDiv.html() == "")
            {
                calendarDiv.append("<div class='p-5'>There's nothing scheduled right now, get some fresh air!</div>");
            }
        }
    });

</script>