<script src="https://www.gstatic.com/firebasejs/10.0.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.0.0/firebase-auth-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.0.0/firebase-firestore-compat.js"></script>



<!-- // Initialize Firebase with your project configuration -->
<script>
    var firebaseConfig = {
        apiKey: "AIzaSyA7TFFSRfIRROsiKan1FH9njo34-W12Pgc",
        authDomain: "spyder-academy.firebaseapp.com",
        projectId: "spyder-academy",
        storageBucket: "spyder-academy.appspot.com",
        messagingSenderId: "965472648823",
        appId: "1:965472648823:web:fb111a83797314c0115072",
        measurementId: "G-MLSV1D6VN4"
    };


    firebase.initializeApp(firebaseConfig);
    var auth = firebase.auth();

</script>