

<footer class="shared footer bg-dark text-white-50 p-5 {{ if .Page.Params.isAppMode }}d-none d-lg-block{{ end }}">
  <div class="container-fluid ">
    <div class="row pb-5">
      <div class="col-12 col-xl-6 text-center text-xl-start pb-4">
        <h4 class="fs-4 fw-semibold text-uppercase text-white-50">{{ .Site.Title }}</h4>
        <p class="small text-white-50">{{ .Site.Params.description }}</p>

        {{ with .Site.Params.social }}
        <ul class="d-flex justify-content-center justify-content-xl-start list-unstyled">
          {{ with .twitter }}<li class="rounded-circle bg-dark me-2 p-2"><a class="d-flex align-items-center justify-content-center size-16 text-muted" href="{{ . }}" title="Twitter" target="_blank">{{ partial "icons/x.html" }}</a></li>{{ end }}
          {{ with .pinterest }}<li class="rounded-circle bg-dark me-2 p-2"><a class="d-flex align-items-center justify-content-center size-16 text-muted" href="{{ . }}" title="Pinterest" target="_blank">{{ partial "icons/pinterest.html" }}</a></li>{{ end }}
          {{ with .instagram }}<li class="rounded-circle bg-dark me-2 p-2"><a class="d-flex align-items-center justify-content-center size-16 text-muted" href="{{ . }}" title="Instagram" target="_blank">{{ partial "icons/instagram.html" }}</a></li>{{ end }}
        </ul>
        {{ end }}

        
      </div>
      <div class="col-12 col-xl-2 text-center text-xl-start pb-4">
        <ul class="list-unstyled">
          {{ range first 3 .Site.Menus.footer }}
            <li class="">
              <a class="small text-muted text-decoration-none" href="{{ .URL }}">{{ .Name }}</a>
            </li>
          {{ end }}
        </ul>
      </div>
      <div class="col-12 col-xl-2 text-center text-xl-start pb-4">
        <ul class="list-unstyled">
          {{ range first 3 (after 3 .Site.Menus.footer) }}
            <li class="">
              <a class="small text-muted text-decoration-none" href="{{ .URL }}">{{ .Name }}</a>
            </li>
          {{ end }}
        </ul>
      </div>
      <div class="col-12 col-xl-2 text-center text-xl-start pb-4">
        <ul class="list-unstyled">
          {{ range first 3 (after 6 .Site.Menus.footer) }}
            <li class="">
              <a class="small text-muted text-decoration-none" href="{{ .URL }}">{{ .Name }}</a>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {{ with .Site.Params.copyright }}
          <p class="small text-muted text-center">{{ . }}</p>
        {{ end }}
      </div>
    </div>
  </div>


</footer>

{{ partial "shared/bottom-panel.html" . }}
{{ partial "shared/cookiebanner.html" }}
