<!-- Google Tag Manager (noscript) -->
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K8MMCCJ" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->


<!-- Navbar -->
<nav class="navbar navbar-expand-xl navbar-dark bg-dark pb-1">
  <div class="container d-flex justify-content-between align-items-center">
    <!-- Spyder logo, centered on mobile -->
    <a class="navbar-brand d-lg-none mx-auto" href="{{ .Site.BaseURL }}">
      {{ partial "utilities/image.html" "images/spyder.png" }}
    </a>

    <!-- Spyder logo, left-aligned on desktop -->
    <a class="navbar-brand d-none d-lg-flex align-items-center" href="{{ .Site.BaseURL }}">
      {{ partial "utilities/image.html" "images/spyder.png" }}
      <span class="px-3 fs-3 fw-semibold text-uppercase text-white">{{ .Site.Title }}</span>
    </a>

    <!-- Toggle button, visible on mobile only -->
    <button class="navbar-toggler d-lg-none position-absolute start-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Desktop Menu Items -->
    <div class="collapse navbar-collapse d-none d-lg-flex" id="navbarDesktopContent">
      <ul class="navbar-nav ms-auto mb-xl-0">
        {{ range .Site.Menus.main }}
          <li class="nav-item text-center m-0">
            <a class="nav-link text-white px-4" href="{{ .URL }}">{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>
      <ul class="navbar-nav ms-auto mb-xl-0 auth_button_list">
        {{ range .Site.Menus.buttons }}
          <li class="nav-item m-0 d-none signin_button">
            <a class="nav-link btn btn-secondary text-light px-4 m-0 mx-1 {{ .Pre }} " href="{{ .URL }}">{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>

<!-- Mobile Side Navbar Content -->
<div id="navbarContent" class="side-nav collapse d-lg-none  bg-black shadow">
  <ul class="navbar-nav ms-auto my-3">
    <li class="nav-item text-left m-0">
      <span class="px-3 fs-3 fw-semibold text-uppercase text-white">{{ .Site.Title }}</span>
    </li>
  </ul>

  <div class="navbar-nav ms-auto mb-xl-0 text-white fs-4">
      <a href="/" class="text-white text-decoration-none">
        <div class="row nav-item text-left m-0 my-2 p-2">
          <div class="col-2"><i class="fa fa-home"></i></div>
          <div class="col-10">Home</div>
        </div>
      </a>
      <a href="/courses/" class="text-white text-decoration-none">
        <div class="row nav-item text-left m-0 my-2 p-2">
          <div class="col-2"><i class="fa fa-user-graduate"></i></div>
          <div class="col-10">Education</div>
        </div>
      </a>
      <a href="/tradesocial/earnings_calendar/" class="text-white text-decoration-none">
        <div class="row nav-item text-left m-0 my-2 p-2">
          <div class="col-2"><i class="fa fa-sack-dollar"></i></div>
          <div class="col-10">Earnings Calendar</div>
        </div>
      </a>

      <a href="/tradesocial/economic_calendar/" class="text-white text-decoration-none">
        <div class="row nav-item text-left m-0 my-2 p-2">
          <div class="col-2"><i class="fa fa-landmark"></i></div>
          <div class="col-10">Economic Calendar</div>
        </div>
      </a>

      <a href="/tradesocial/" class="text-white text-decoration-none">
        <div class="row nav-item text-left m-0 my-2 p-2">
          <div class="col-2"><i class="fa fa-bars-staggered"></i></div>
          <div class="col-10">Trade Social</div>
        </div>
      </a>

      <a href="/profile/" class="text-white text-decoration-none">
        <div class="row nav-item text-left m-0 my-2 p-2">
          <div class="col-2"><i class="fa fa-user-group"></i></div>
          <div class="col-10">Profile</div>
        </div>
      </a>

      <a href="/search/" class="text-white text-decoration-none">
        <div class="row nav-item text-left m-0 my-2 p-2">
          <div class="col-2"><i class="fa fa-search"></i></div>
          <div class="col-10">Search</div>
        </div>
      </a>

    </div>

    <div class="row nav-item text-left m-0 my-2 p-0 auth_button_divs">
      {{ range .Site.Menus.buttons }}
        <div class="col-12 signin_button d-none"><a class="nav-link btn btn-secondary text-light px-4 m-0 {{ .Pre }}" href="{{ .URL }}">{{ .Name }}</a></div>
      {{ end }}
    </div>
  </div>


<script>
    const navbarContent = document.getElementById('navbarContent');
    document.querySelector('.navbar-toggler').addEventListener('click', function() {
      document.body.classList.toggle('navbar-open');
    });

    function signOutUser() {
      firebase.auth().signOut()
          .then(() => {
          // Sign-out successful
              console.log("User signed out");
          })
          .catch((error) => {
          // An error occurred
              console.error("Sign-out error:", error);
          });
      }

    $(document).ready(function() {
        // check log in status, if already logged in show logout button and profile image
        firebase.auth().onAuthStateChanged((user) => {
            if (user) {
              var username = user.email

              // desktop nav
              $(".auth_button_list").append($(
                `<li class="nav-item m-0">
                  <a class="nav-link signout_button btn gradient-red text-light px-4 m-0 mx-1 " href="#"  onclick="signOutUser();" title="Welcome Back, ${username}">Log out</a>
                </li>`
              ))

              // mobile nav
              $(".auth_button_divs").append($(
                `
                  <div class="col-12 signout_button auth_button"><a class="nav-link btn gradient-red text-light px-4 m-0 " href="#" onclick="signOutUser();" title="Welcome Back, ${username}">Log out</a></div>
                `
              ))
            }
            else{
              console.log("User NOT logged in")
              $(".signout_button").addClass("d-none")
              $(".signin_button").removeClass("d-none")
            }
        });
      });

</script>

