<script>
  function showWelcomePopup(){
      $('#welcomeModal').modal('show');
  }

  // Adjusted JavaScript for handling the modal
  $(document).ready(function() {
    // Function to check if the modal should be displayed
    function shouldDisplayModal() {
      const today = new Date();
      const cookie = document.cookie
        .split('; ')
        .find(row => row.startsWith('popupClosed='))
        ?.split('=')[1];

      return cookie !== 'true'; // Display the sidebar until 8 PM
    }

    

    // Show the modal after a delay, only if it should be displayed
    setTimeout(function() {
      if (shouldDisplayModal()) {
        showWelcomePopup();
      }
    }, 25000); // 25 seconds.

    // Set a cookie when the modal is closed
    $('#welcomeModal').on('hidden.bs.modal', function (e) {
      const now = new Date();
      const expires = new Date(now.getTime() + (60 * 60 * 1000)); // Adds 1 hour to the current time, so after dismissing it, you wont see it for another hour (unless you click the link to pop it open yourself)
      document.cookie = 'popupClosed=true; expires=' + expires.toUTCString() + '; path=/';
    });

    // Listen for click event on the link with the 'data-dismiss' attribute
    $('a[data-dismiss="modal"]').on('click', function(e){
        e.preventDefault(); // Prevent default anchor behavior
        var target = $(this).attr('data-target') || $(this).parents('.modal'); // Find the target modal
        $(target).modal('hide'); // Manually hide the modal
    });
  });

</script>

<!-- Bootstrap modal for newsletter signup -->
<div class="modal fade" id="welcomeModal" aria-labelledby="welcomeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content p-0">
      <div id='crmWebToEntityForm' class='zcwf_lblLeft crmWebToEntityForm'
        style='background-color: white;color: black;max-width: 600px;'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <META HTTP-EQUIV='content-type' CONTENT='text/html;charset=UTF-8'>
        
          <div class="container">
            <div class="row align-items-center justify-content-center">
              <div style="text-align: center">
                <div class="col-12 justify-content-center text-center p-0">
                  <div class="text-center">
                    <p class="fw-semibold mb-1"><img src="/images/logo.png" style="height: 100px" /></p>
                    <h3 class="fs-3 fw-bold text-primary text-uppercase pb-1">Unlock Free Stuff</h3>
                  </div>
                </div>

                <div class="row align-items-center justify-content-center p-0">
                  <div class="col-lg-10 col-12">
                    <p class="text-left text-black-61 p-0 m-0"><svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#c00" class="bi bi-check" viewBox="0 0 16 16"><path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/></svg>
                      Our Essentials Trading Guide!
                    </p>
                    <p class="text-left text-black-61 p-0 m-0"><svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#c00" class="bi bi-check" viewBox="0 0 16 16"><path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/></svg>
                      Trading Psychology + Strategies!
                    </p>
                    <p class="text-left text-black-61 p-0 m-0"><svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#c00" class="bi bi-check" viewBox="0 0 16 16"><path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/></svg>
                      Weekly Watchlists and Setups!
                    </p>
                    <p class="text-left text-black-61 p-0 m-0"><svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#c00" class="bi bi-check" viewBox="0 0 16 16"><path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/></svg>
                      20% off Code to our Classroom!
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
          <div class="col-12  text-center">
            <div class="container">
              <div class="row align-items-center justify-content-center p-0">
                <div class="col-12 p-0">
                  <form id='webform' action='https://crm.zoho.com/crm/WebToLeadForm' name="WebToLeads6144436000000678001" method='POST' onSubmit='javascript:document.charset="UTF-8"; return checkMandatory6144436000000678001()' accept-charset='UTF-8'>
                    <input type='text' style='display:none;' name='xnQsjsdp' value='e37511cb6b7c31810f52b5cca30b3860391e56211cfbf887c9e812c4625d31b9'></input>
                    <input type='hidden' name='zc_gad' id='zc_gad' value=''></input>
                    <input type='text' style='display:none;' name='xmIwtLD' value='51edb7148d8e535591efcecbb7d796723061966af34b553864326182b34da430fa5393b686b83e0e107f17a9f739d979'></input>
                    <input type='text' style='display:none;' name='actionType' value='TGVhZHM='></input>
                    <input type='text' style='display:none;' name='returnURL' value='null'> </input>

                    <select style="display: none" id='Lead_Source' name='Lead Source'>
                      <option value='-None-'>-None-</option>
                      <option value='Database&#x20;&#x28;Apollo&#x29;'>Database &#x28;Apollo&#x29;</option>
                      <option selected value='Webform'>Webform</option>
                      <option value='Advertisement'>Advertisement</option>
                      <option value='Member&#x20;Referral'>Member Referral</option>
                      <option value='Whop&#x20;Marketplace'>Whop Marketplace</option>
                      <option value='X&#x20;&#x28;Twitter&#x29;'>X &#x28;Twitter&#x29;</option>
                      <option value='Facebook'>Facebook</option>
                      <option value='Pinterest'>Pinterest</option>
                    </select>
                    
                    <span id="validationMessages"  class="text-danger"></span>
                    <input type='text' id='Last_Name' name='Last Name' maxlength='80' placeholder="NAME" class="form-control p-3 my-3" style="text-transform:uppercase; text-align: center"></input>
                    <input type='text' ftype='email' autocomplete='false' id='Email' name='Email' crmlabel='' placeholder="EMAIL ADDRESS"  maxlength='100' class="form-control p-3 my-3" style="text-transform:uppercase; text-align: center"></input>
                    <input type='submit' id='formsubmit' class="btn btn-lg btn-secondary mt-1" value='Sign Me Up!' title='Sign Me Up!' style="border-radius: 0.5em; width:100%" >

                    <p class="p-3"><a data-dismiss="modal" aria-label="Close" href="#">Continue to site</a></p>
                    <p class="text-muted font-weight-light"><small>Your email will never be shared and you may unsubscribe at any time.</small></p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

        
  <script>
    function checkMandatory6144436000000678001() {
      var mndFileds = new Array('Last Name', 'Email');
      var fldLangVal = new Array('Name', 'Email');
      for (i = 0; i < mndFileds.length; i++) {
        var fieldObj = document.forms['WebToLeads6144436000000678001'][mndFileds[i]];
        if (fieldObj) {
          if (((fieldObj.value).replace(/^\s+|\s+$/g, '')).length == 0) {
            if (fieldObj.type == 'file') {
              $("#validationMessages").text('Please select a file to upload.');
              fieldObj.focus();
              return false;
            }
            $("#validationMessages").text("Please enter your " + fldLangVal[i] +'.');
            fieldObj.focus();
            return false;
          } 
          else if (fieldObj.nodeName == 'SELECT') {
            if (fieldObj.options[fieldObj.selectedIndex].value == '-None-') {
              $("#validationMessages").text(fldLangVal[i] + ' cannot be none.');
              fieldObj.focus();
              return false;
            }
          } 
          else if (fieldObj.type == 'checkbox') {
            if (fieldObj.checked == false) {
              $("#validationMessages").text('Please accept  ' + fldLangVal[i]);
              fieldObj.focus();
              return false;
            }
          }
          try {
            if (fieldObj.name == 'Last Name') {
              name = fieldObj.value;
            }
          } catch (e) { }
        }
      }

      var urlparams = new URLSearchParams(window.location.search);
      if (urlparams.has('service') && (urlparams.get('service') === 'smarturl')) {
        var webform = document.getElementById('webform');
        var service = urlparams.get('service');
        var smarturlfield = document.createElement('input');
        smarturlfield.setAttribute('type', 'hidden');
        smarturlfield.setAttribute('value', service);
        smarturlfield.setAttribute('name', 'service');
        webform.appendChild(smarturlfield);
      }
      document.querySelector('.crmWebToEntityForm .formsubmit').setAttribute('disabled', true);
    }

    function tooltipShow6144436000000678001(el) {
      var tooltip = el.nextElementSibling;
      var tooltipDisplay = tooltip.style.display;
      if (tooltipDisplay == 'none') {
        var allTooltip = document.getElementsByClassName('zcwf_tooltip_over');
        for (i = 0; i < allTooltip.length; i++) {
          allTooltip[i].style.display = 'none';
        }
        tooltip.style.display = 'block';
      } else {
        tooltip.style.display = 'none';
      }
    }
  </script>

  <!-- Do not remove this --- Analytics Tracking code starts -->
  <script id='wf_anal' src='https://crm.zohopublic.com/crm/WebFormAnalyticsServeServlet?rid=d06540f64056e35119de3f0515ec3a7b9121c2476ed77e1c552bcd7bf08d4546fe8fccef7379e12961d97b0aca17853agid9e9c5b28e05c566b9dd771a896c25f13430f4edb32fc12211896efe8e29e9144gidb450b06b808d94b2635a72df4b17a9d1cfe917965a7c25cea945a7c666652050gid77e21cae8df76585e7e413b69fffb79560a74d4f837a01c7e07843765cecafa1&tw=c8848fe550b1e1d0c14f8ea4524e563f7e89dda33199babeae172ad54e4d93c9'></script>
  <!-- Do not remove this --- Analytics Tracking code ends. -->
       