<!-- Bootstrap modal for newsletter signup -->
<div class="modal fade" id="welcomeModal" aria-labelledby="welcomeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content p-0">
      <div name="SIGNUP_BODY" class="modal-body p-0 m-0">

        <div class="container" id="sf3z75e9b6db4bf3988760197ed4bce672b806116eb1dc5507c7129557b8679283c0" data-type="signupform">
          <div class="row align-items-center justify-content-center">
            <div class="col-12 justify-content-center text-center p-0">
              <div class="text-center">
                <!-- Your content here, similar to what was inside your .card -->
                <p class="fw-semibold mb-1"><img src="/images/logo.png" style="height: 100px" /></p>
                <h3 class="fs-3 fw-bold text-primary text-uppercase pb-1">Unlock Free Stuff</h3>
              </div>
            </div>

            <div class="col-lg-10 col-12">
              <div class="container pb-0">
                <!-- Zoho Response Messages -->
                <div style="display: none" id="errorMsgDiv">Please correct the marked field(s) below.</div>
                <div id="Zc_SignupSuccess" style="display:none;position:absolute;margin-left:4%;width:90%;background-color: white; padding: 3px; border: 3px solid rgb(194, 225, 154);  margin-top: 10px;margin-bottom:10px;word-break:break-all">
                  <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="10%">
                          <img class="successicon" src="https://xqvyv-cmpzourl.maillist-manage.com/images/challangeiconenable.jpg" align="absmiddle">
                        </td>
                        <td>
                          <span id="signupSuccessMsg" style="color: rgb(73, 140, 132); font-family: sans-serif; font-size: 14px;word-break:break-word">&nbsp;&nbsp;Thank you for Signing Up</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- End Zoho Response Messages -->

                  
                <div class="row align-items-center justify-content-center p-0">
                  <p class="text-left text-black-61 p-0 m-0"><svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#c00" class="bi bi-check" viewBox="0 0 16 16"><path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/></svg>
                    Our Essentials Trading Guide!
                  </p>
                  <p class="text-left text-black-61 p-0 m-0"><svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#c00" class="bi bi-check" viewBox="0 0 16 16"><path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/></svg>
                    Trading Psychology + Strategies!
                  </p>
                  <p class="text-left text-black-61 p-0 m-0"><svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#c00" class="bi bi-check" viewBox="0 0 16 16"><path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/></svg>
                    Weekly Watchlists and Setups!
                  </p>
                  <p class="text-left text-black-61 p-0 m-0"><svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#c00" class="bi bi-check" viewBox="0 0 16 16"><path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/></svg>
                    20% off Code to our Classroom!
                  </p>
                </div>
              </div>
            </div>
      
            <div class="col-12  text-center">
              <div class="container">
                  <div class="row align-items-center justify-content-center p-0">
                    <div class="col-12  p-0">
				              <form method="POST" id="zcampaignOptinForm" action="https://xqvyv-cmpzourl.maillist-manage.com/weboptin.zc" target="_zcSignup">
                        <div>
                          <div id="Zc_SignupSuccess" style="position: absolute; width: 87%; background-color: white; padding: 3px; border: 3px solid rgb(194, 225, 154); margin-bottom: 10px; word-break: break-all; opacity: 1; display: none">
                            <div style="width: 20px; padding: 5px; display: table-cell">
                              <img class="successicon" src="https://campaigns.zoho.com/images/challangeiconenable.jpg" style="width: 20px">
                            </div>
                            <div style="display: table-cell">
                              <span id="signupSuccessMsg" style="color: rgb(73, 140, 132); font-family: sans-serif; font-size: 14px; line-height: 30px; display: block"></span>
                            </div>
                          </div>
                          <input placeholder="EMAIL ADDRESS" class="form-control p-3 my-3" changeitem="SIGNUP_FORM_FIELD" name="CONTACT_EMAIL" id="EMBED_FORM_EMAIL_LABEL" type="text" autocomplete="on" style="text-transform:uppercase; text-align: center">
                        </div>

						            <input type="button" class="btn btn-lg btn-secondary mt-1" name="SIGNUP_SUBMIT_BUTTON" id="zcWebOptin" value="Sign Me Up!" style="border-radius: 0.5em; width:100%" />

                        <p class="p-3"><a data-dismiss="modal" aria-label="Close" href="#">Continue to site</a></p>
                        <p class="text-muted font-weight-light"><small>Your email will never be shared and you may unsubscribe at any time.</small></p>

                        <input type="hidden" id="fieldBorder" value="">
                        <input type="hidden" id="submitType" name="submitType" value="optinCustomView">
                        <input type="hidden" id="emailReportId" name="emailReportId" value="">
                        <input type="hidden" id="formType" name="formType" value="QuickForm">
                        <input type="hidden" name="zx" id="cmpZuid" value="1326e5d97">
                        <input type="hidden" name="zcvers" value="3.0">
                        <input type="hidden" name="oldListIds" id="allCheckedListIds" value="">
                        <input type="hidden" id="mode" name="mode" value="OptinCreateView">
                        <input type="hidden" id="zcld" name="zcld" value="111379897c6680366">
                        <input type="hidden" id="zctd" name="zctd" value="">
                        <input type="hidden" id="document_domain" value="">
                        <input type="hidden" id="zc_Url" value="xqvyv-cmpzourl.maillist-manage.com">
                        <input type="hidden" id="new_optin_response_in" value="0">
                        <input type="hidden" id="duplicate_optin_response_in" value="0">
                        <input type="hidden" name="zc_trackCode" id="zc_trackCode" value="ZCFORMVIEW">
                        <input type="hidden" id="zc_formIx" name="zc_formIx" value="3z75e9b6db4bf3988760197ed4bce672b806116eb1dc5507c7129557b8679283c0">
                        <input type="hidden" id="viewFrom" value="URL_ACTION">
                        <span style="display: none" id="dt_CONTACT_EMAIL">1,true,6,Contact Email,2</span>
                        <span style="display: none" id="dt_FIRSTNAME">1,false,1,First Name,2</span>
                        <span style="display: none" id="dt_LASTNAME">1,false,1,Last Name,2</span>
                        <input type="hidden" id="signupFormType" value="LargeForm_Vertical">

                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <script>
    function showWelcomePopup(){
        $('#welcomeModal').modal('show');
    }

    // Adjusted JavaScript for handling the modal
    $(document).ready(function() {
      // Function to check if the modal should be displayed
      function shouldDisplayModal() {
        const today = new Date();
        const cookie = document.cookie
          .split('; ')
          .find(row => row.startsWith('popupClosed='))
          ?.split('=')[1];

        return cookie !== 'true'; // Display the sidebar until 8 PM
      }

      

      // Show the modal after a delay, only if it should be displayed
      // setTimeout(function() {
      //   if (shouldDisplayModal()) {
      //     showWelcomePopup();
      //   }
      // }, 25000); // 25 seconds.

      // Set a cookie when the modal is closed
      $('#welcomeModal').on('hidden.bs.modal', function (e) {
        const now = new Date();
        const expires = new Date(now.getTime() + (60 * 60 * 1000)); // Adds 1 hour to the current time, so after dismissing it, you wont see it for another hour (unless you click the link to pop it open yourself)
        document.cookie = 'popupClosed=true; expires=' + expires.toUTCString() + '; path=/';
      });

      // Listen for click event on the link with the 'data-dismiss' attribute
      $('a[data-dismiss="modal"]').on('click', function(e){
          e.preventDefault(); // Prevent default anchor behavior
          var target = $(this).attr('data-target') || $(this).parents('.modal'); // Find the target modal
          $(target).modal('hide'); // Manually hide the modal
      });
    });

  </script>






<!--Zoho Campaigns Web-Optin Form's Header Code Starts Here-->
<script type="text/javascript" src="https://xqvyv-cmpzourl.maillist-manage.com/js/optin.min.js" onload="setupSF('sf3z75e9b6db4bf3988760197ed4bce672b806116eb1dc5507c7129557b8679283c0','ZCFORMVIEW',false,'acc',false,'2')"></script>
<script type="text/javascript">
	function runOnFormSubmit_sf3z75e9b6db4bf3988760197ed4bce672b806116eb1dc5507c7129557b8679283c0(th){
		/*Before submit, if you want to trigger your event, "include your code here"*/
    $(".modal").modal('hide'); // Manually hide the modal
	};
</script>
<!--Zoho Campaigns Web-Optin Form's Header Code Ends Here-->

<!--Zoho Campaigns Web-Optin Form Starts Here-->

<div id="zcOptinOverLay" oncontextmenu="return false" style="display:none;text-align: center; background-color: rgb(0, 0, 0); opacity: 0.5; z-index: 100; position: fixed; width: 100%; top: 0px; left: 0px; height: 988px;"></div>
<div id="zcOptinSuccessPopup" style="display:none;z-index: 9999;width: 800px; height: 40%;top: 84px;position: fixed; left: 26%;background-color: #FFFFFF;border-color: #E6E6E6; border-style: solid; border-width: 1px;  box-shadow: 0 1px 10px #424242;padding: 35px;">
	<span style="position: absolute;top: -16px;right:-14px;z-index:99999;cursor: pointer;" id="closeSuccess">
		<img src="https://xqvyv-cmpzourl.maillist-manage.com/images/videoclose.png">
	</span>
	<div id="zcOptinSuccessPanel"></div>
</div>

<!--Zoho Campaigns Web-Optin Form Ends Here-->




