<div class="row justify-content-center">
    <div class="col-12">
        <form id="search" action='{{ with .GetPage "/search" }}{{.Permalink}}{{end}}' method="get">
            <div class="h4 p-0 m-0 row no-gutters justify-content-evenly  sticky-top">
                <div class="col-10  p-0 m-0 align-items-between">
                    <label hidden for="search-input">Search site</label>
                    <input id="search-input" name="query" class="text-white form-control form-control-lg  no-border-transparent-bg" style="border: 1px solid #fff;" type="text" placeholder="Search topics or keywords">
                </div>
                <div class="col-2 text-end">
                    <button class="btn btn-lg" type="submit"><i class="fas fa-search text-white "></i></button>
                </div>
            </div>
        </form> 
    </div>
</div>
