<!-- Sidebar with newsletter signup form -->
  <div class="sidebar" id="sidebar">
    <div class="newsletter-form text-center">
      <div class="close-button" onclick="closeSidebar()">&times;</div>
      
      <!-- Substance iframe form goes here -->
      <!-- Replace the "your-substance-iframe-url" with the actual URL of your Substance iframe form -->
      <div class="container">
        <div class="row align-items-center p-3">
            <div class="col-12 text-center">
                <h2 class="text-danger">Unlock Your Trading Potential!</h2>
                <p>Are you ready to elevate your trading game and gain a competitive edge in the markets?</p>
            </div>
            <div class="d-none d-lg-block col-12 align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4 card shadow border-0 p-3 m-3" style="border-radius: 15px; background-color: #bfe1cf">
                            <div class="card-body p-3">
                              <div class="container-fluid">
                                <div class="row  align-items-center ">
                                  <div class="col-12">
                                      <p class="text-black-61 pb-3" style="line-height: 1em;">Get Free Market Insights</p>
                                      <p class="text-black-61 pb-3" style="line-height: 1em;">Profitable Trade Recaps</p>
                                      <p class="text-black-61 pb-3" style="line-height: 1em;">Actionable Watchlists</p>
                                      <p class="text-black-61 pb-0" style="line-height: 1em;">Top-notch Learning</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="col-4"></div>
                    </div>
                </div>
                <p>Sign up now and elevate your trading journey!</p>
            </div>
            <div class="col-12 justify-content-center">
                <a class="btn btn-lg btn-block btn-primary mt-1" style="border-radius: 0.5em; width: 200px"  href="https://spyderacademy.substack.com" target="_blank">Get The Newsletter</a>
                <a class="btn btn-lg btn-block btn-secondary mt-1" style="border-radius: 0.5em; width: 200px"  href="https://whop.com/spyder-academy/?d2c=true&directPlanId=plan_n9NbbxfFeIW95&accessPassId=prod_45GZIGs1lRCGs&a=spyderacademy" >Try Us Out</a>
            </div>
        </div>
    </div>
    </div>
  </div>


  <script>
    // Function to toggle the sidebar
    $('iframe').css('background', '#F6FBFF');

    function toggleSidebar() {
        const sidebar = document.getElementById('sidebar');
        sidebar.style.bottom = sidebar.style.bottom === '0px' ? '-50%' : '0px';
    }
 

    // Function to close the sidebar
    function closeSidebar() {
      const sidebar = document.getElementById('sidebar');
      sidebar.style.bottom = '-50%';

      // Set a cookie to remember that the user closed the sidebar today
      const now = new Date();
      const expires = new Date(now.getFullYear(), now.getMonth(), now.getDate(), 23, 59, 59);
      document.cookie = 'sidebarClosed=true; expires=' + expires.toUTCString() + '; path=/';
    }

    // Function to check if the sidebar should be displayed
    function shouldDisplaySidebar() {
      const today = new Date();
      const cookie = document.cookie
        .split('; ')
        .find(row => row.startsWith('sidebarClosed='))
        ?.split('=')[1];

      return cookie !== 'true' && today.getHours() < 20; // Display the sidebar until 8 PM
    }

    // Delayed sliding of the sidebar after 3 seconds, only if it should be displayed
    setTimeout(function() {
      if (shouldDisplaySidebar()) {
        toggleSidebar();
      }
    }, 3000);

  </script>