<!-- signup form -->
<section class="section">
  <div class="signup">
    <div class="signup-form text-center">
      <div class="container">
        <div class="row align-items-center p-3 pb-3">
            <div class="col-12 justify-content-center">
                <a class="btn btn-lg btn-block btn-primary mt-1" style="border-radius: 0.5em; width: 250px"  href="https://spyderacademy.substack.com" target="_blank">Read our Newsletter</a>
                <a class="btn btn-lg btn-block btn-secondary mt-1" style="border-radius: 0.5em; width: 250px"  href="https://whop.com/spyder-academy/?d2c=true&directPlanId=plan_n9NbbxfFeIW95&accessPassId=prod_45GZIGs1lRCGs&a=spyderacademy" >Get A Free Trial</a>
            </div>
        </div>
      </div>

    </div>
  </div>
</section>
