<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container shadow">
  <div class="tradingview-widget-container__widget"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
    {
    "symbols": [
      {
        "proName": "FOREXCOM:SPXUSD",
        "title": "S&P 500 Index"
      },
      {
        "description": "SPY",
        "proName": "AMEX:SPY"
      },
      {
        "description": "QQQ",
        "proName": "NASDAQ:QQQ"
      },
      {
        "description": "IWM",
        "proName": "AMEX:IWM"
      },
      {
        "description": "AAPL",
        "proName": "NASDAQ:AAPL"
      },
      {
        "description": "AMZN",
        "proName": "NASDAQ:AMZN"
      },
      {
        "description": "GOOGL",
        "proName": "NASDAQ:GOOGL"
      },
      {
        "description": "META",
        "proName": "NASDAQ:META"
      },
      {
        "description": "MSFT",
        "proName": "NASDAQ:MSFT"
      },
      {
        "description": "NFLX",
        "proName": "NASDAQ:NFLX"
      },
      {
        "description": "NVDA",
        "proName": "NASDAQ:NVDA"
      },
      {
        "description": "TSLA",
        "proName": "NASDAQ:TSLA"
      }
    ],
    "showSymbolLogo": true,
    "isTransparent": false,
    "displayMode": "adaptive",
    "colorTheme": "light",
    "locale": "en",
    "largeChartUrl": "https://www.spyderacademy.com/stocks/"
    }
  </script>
</div>
<!-- TradingView Widget END -->