{{ $symbol := .symbol }}
{{ $tvSymbol := .tvSymbol }}

<div class="p-0">
    <div class="container p-0 m-0">
       
        <div id="strat_signal_row" class="row m-0">
            <div class="col-12 p-0" id="strat_signal_card">
                <div class="card">
                    <div class="card-body tweet-card post" id="theStratSignals">
                    </div>
                </div>
            </div>
        </div>
        <div id="ma_signal_row" class="row m-0">
            <div class="col-12 p-0" id="ema_signal_card">
                <div class="card">
                    <div class="card-body tweet-card post" id="emaSignals">
                    </div>
                </div>
            </div>
        </div>
        <div id="leaderboard_signal_row" class="row m-0">
            <div class="col-12 p-0" id="leaderboard_signal_card">
                <div class="card">
                    <div class="card-body tweet-card post p-0 p-lg-2" id="leaderboardSignals">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function() {
        
        marketPressureTooltip = "<h6>MARKET PRESSURE</h6><p>It's a measure of how much buying or selling pressure there is on a stock due to options trading, becoming a magnet for where the price may move toward.</p><p>Positive net gamma means traders might buy more stock as the price goes up.</p><p>Negative net gamma means they might sell more as the price goes down.</p>"
        $('#marketPressureHeader').tooltip({
            title: marketPressureTooltip,
            html: true
        });
        
        $('#expectedMoveHeader').tooltip({
            title: "<h6>EXPECTED MOVE:</h6><p>This indicator predicts the potential price range within which a stock or asset is expected to fluctuate over a certain period, based on options pricing models.</p><p>It's a valuable tool for traders to gauge potential price movements and make informed decisions.</p><p>Keep in mind that actual market fluctuations may differ from this prediction due to various factors.</p>",
            html: true
        });

        $('#movingAveragesHeader').tooltip({
            title: "<h6>MOVING AVERAGES:</h6><p>This card shows the current price position of " + {{ $symbol }} + " relative to its key moving averages.</p><p>When the price is above an average, it's bullish; below, it's bearish.</p><p>Mixed signals, with some averages bullish and others bearish, can indicate potential consolidation or a trend change.</p><p>Use this information to gauge overall market trends and potential support/resistance levels.</p>",
            html: true
        });

        $('#expectedMoveChop').tooltip({
            title: "<h6>POSSIBLE CHOP</h6><p>An expected move < 0.5% often indicates a low range day, which is less than ideal for options traders looking for range.</p><p>Trade quick scalps or look for other names.</p>",
            html: true
        });

        ticker = {{ $symbol }}
        tradePlanner = new TradePlanner();
        tradePlanner.fetchEMASignals(ticker);
        tradePlanner.fetchTheStratSignals(ticker)
        tradePlanner.fetchLeaderboardSignals(ticker)

        
    });
</script>