{{ $symbol := .symbol }}
{{ $stocks := .Site.Data.stocks.stocks }}
{{ $profile := where $stocks "symbol" $symbol }}


<div class="container-fluid p-0">
  <div class="row py-0">
    <div class="col-12">
      <div class="card shadow border-1 p-3 m-0 d-flex tradingview-stockchart-widget-container bg-dark" style="border-radius: 15px;">
        <div class="tradingview-stockchart-widget-container__widget"></div>
        <script type="application/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js" async>
          {
            "symbol": "{{ $symbol }}",
            "width": "100%",
            "height": "890",
            "interval": "D",
            "timezone": "America/New_York",
            "theme": "light",
            "style": "1",
            "locale": "en",
            "gridColor" : "rgba(255,255,255, 0)",
            "details": false,
            "enable_publishing": false,
            "save_image": false,
            "studies": [
              "STD;MA%Ribbon",
              "STD;Gaps"
            ],
            "support_host": "https://www.tradingview.com"
          }
        </script>
      </div>
    </div>
  </div>
</div>