{{ $symbol := .symbol }}
{{ $tvSymbol := .tvSymbol }}

<div class="p-0">
    <div class="container p-0 m-0">
        <div class="content-section row d-none stock_social_row">
            <div class="col-12 d-lg-block">
                <div class="card-body tweet-header bg-dark text-white justify-content-center">
                    <h4 class="card-title fw-semibold text-uppercase">STOCK TWEETS</h4>
                </div>
            </div>
        </div>
        <div class="row pb-5 d-none stock_social_row" id="stock_social_row">

        </div>
    </div>
</div>


<script>
    $(document).ready(function() {

        var symbol = {{ $symbol }}
        var userTrades = new Trades()
        userTrades.showStockTweets(ticker=symbol);
    });
</script>