{{ $symbol := .symbol }}

<div class="p-0">
    <div class="container">
        <div class="row pb-5">
            <div class="col-12 text-danger">
                Stock Signals is currently in Beta.  Not Financial Advise!
            </div>
        </div>
        <div class="row pb-5">
            <div class="col-lg-4 col-12">
                <div class="card h-100  p-3 mb-5" style="border-radius: 15px;">
                    <div class="card-body">
                        <h4 class="card-title fw-semibold">{{ $symbol }} GAMMA EXPOSURE</h4>
                        <p class="card-text text-danger"><span class="gammaOutlook"></span></p>
                        <p class="card-text text-black-61">The largest Gamma Level is currently at <span class="largestGammaLevelText"></span>, with Net <span class="gammaOutlook"></span> positioning.<br/></p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="card h-100  p-3 mb-5" style="border-radius: 15px;">
                    <div class="card-body">
                        <h4 class="card-title fw-semibold">EXPECTED INTRADAY MOVE</h4>
                        <p class="card-text text-black-61" id="movePercentTitle">{{ $symbol }} Expected Move: <span class="movePercent"></p>
                        <p class="card-text text-black-61" id="ivRangeTitle">Bulls Want: <span class="bullRange"  style="color: #bfe1cf" ></p>
                        <p class="card-text text-black-61" id="ivRangeTitle">Bears Want: <span class="bearRange text-danger" ></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
