{{- if isset site.Taxonomies "tags" }}
    {{- if not (eq (len site.Taxonomies.tags) 0) }}

    <div class="mobile_nav row shadow bg-dark text-white d-md-none d-sm-block sticky-top mb-3" style="font-size: 0.8em;">
        <div class="col-md-10 col-sm-12 p-0 justify-content-center">
          <ul class="nav nav-pills py-3 m-0 justify-content-center" id="pills-tab" role="tablist">
            <li class="nav-item m-0" role="presentation">
              <a href="/tags/getting-started/" class="nav-link text-white bg-dark {{ if eq .RelPermalink `/tags/getting-started/` }}active{{ end }}">Basics</a>
            </li>
            <li class="nav-item m-0" role="presentation">
                <a href="/tags/strategies/" class="nav-link  text-white bg-dark {{ if eq .RelPermalink `/tags/strategies/` }}active{{ end }}">Strategies</a>
            </li>
            <li class="nav-item m-0" role="presentation">
                <a href="/tags/trading-psychology/" class="nav-link  text-white bg-dark {{ if eq .RelPermalink `/tags/trading-psychology/` }}active{{ end }}"  >Psychology</a>
            </li>
            <li class="nav-item m-0" role="presentation">
                <a href="/courses/" class="nav-link text-white bg-dark {{ if eq .RelPermalink `/courses/` }}active{{ end }}">Courses</a>
            </li>
          </ul>
        </div>
    </div>


    <div class="row pb-5 content-section d-none d-lg-flex" >
        <div class="col">
            <div class="card shadow border-0 p-3 m-3" style="border-radius: 15px; background-color: #BFE1CF; ">
                <div class="card-body p-0">
                    <div class="container-fluid">
                    <div class="row  align-items-center ">
                        <div class="col-4 p-0 m-0">
                            <img src="/images/gettingstarted.png" alt="Stock Market 101: A Beginner's Guide to Navigating the Financial Markets"/>
                        </div>
                        <div class="col-8">
                            <p class="small p-0 m-0">Learn how to trade the</p>
                            <strong><a href="/tags/getting-started/" class="text-decoration-none" title="Stock Market 101: A Beginner's Guide to Navigating the Financial Markets">STOCK MARKET FOR BEGINNERS</a></strong>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow border-0 p-3 m-3" style="border-radius: 15px; background-color: #E9E4D7;">
                <div class="card-body p-0">
                    <div class="container-fluid">
                    <div class="row  align-items-center ">
                        <div class="col-4 p-0 m-0">
                        <img src="/images/tradingstrategies.png" alt="Trading Strategies Unveiled: Expert Insights and Tips"/>
                        </div>
                        <div class="col-8">
                        <p class="small p-0 m-0">Learn about our</p>
                        <strong><a href="/tags/strategies/" class="text-decoration-none" title="Trading Strategies Unveiled: Expert Insights and Tips">TRADING STRATEGIES</a></strong>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow border-0 p-3 m-3" style="border-radius: 15px; background-color: #DCA9D1;">
                <div class="card-body p-0">
                    <div class="container-fluid">
                    <div class="row  align-items-center ">
                        <div class="col-4 p-0 m-0">
                        <img src="/images/psychology.png" alt="Expert Insights on Trading Psychology – Strategies, Tips, and More"/>
                        </div>
                        <div class="col-8">
                        <p class="small p-0 m-0">Improve your</p>
                        <strong><a href="/tags/trading-psychology/" class="text-decoration-none" title="Expert Insights on Trading Psychology – Strategies, Tips, and More">TRADING PSYCHOLOGY</a></strong>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{- end }}
{{- end }}