{{- if isset site.Taxonomies "tags" }}
    {{- if not (eq (len site.Taxonomies.tags) 0) }}
    <div class="row pb-5" >
        <div class="col">
            <div class="card shadow border-0 p-3 m-3" style="border-radius: 15px; background-color: #BFE1CF; ">
                <div class="card-body p-0">
                    <div class="container-fluid">
                    <div class="row  align-items-center ">
                        <div class="col-4 p-0 m-0">
                            <img src="/images/gettingstarted.png" alt="Stock Market 101: A Beginner's Guide to Navigating the Financial Markets"/>
                        </div>
                        <div class="col-8">
                            <p class="small p-0 m-0">Learn how to trade the</p>
                            <strong><a href="/tags/getting-started/" class="text-decoration-none" title="Stock Market 101: A Beginner's Guide to Navigating the Financial Markets">STOCK MARKET FOR BEGINNERS</a></strong>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow border-0 p-3 m-3" style="border-radius: 15px; background-color: #E9E4D7;">
                <div class="card-body p-0">
                    <div class="container-fluid">
                    <div class="row  align-items-center ">
                        <div class="col-4 p-0 m-0">
                        <img src="/images/tradingstrategies.png" alt="Trading Strategies Unveiled: Expert Insights and Tips"/>
                        </div>
                        <div class="col-8">
                        <p class="small p-0 m-0">Learn about our</p>
                        <strong><a href="/tags/strategies/" class="text-decoration-none" title="Trading Strategies Unveiled: Expert Insights and Tips">TRADING STRATEGIES</a></strong>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow border-0 p-3 m-3" style="border-radius: 15px; background-color: #DCA9D1;">
                <div class="card-body p-0">
                    <div class="container-fluid">
                    <div class="row  align-items-center ">
                        <div class="col-4 p-0 m-0">
                        <img src="/images/psychology.png" alt="Expert Insights on Trading Psychology – Strategies, Tips, and More"/>
                        </div>
                        <div class="col-8">
                        <p class="small p-0 m-0">Improve your</p>
                        <strong><a href="/tags/trading-psychology/" class="text-decoration-none" title="Expert Insights on Trading Psychology – Strategies, Tips, and More">TRADING PSYCHOLOGY</a></strong>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{- end }}
{{- end }}