{{- if isset site.Taxonomies "tags" }}
    {{- if not (eq (len site.Taxonomies.tags) 0) }}
    <div class="d-flex flex-row flex-nowrap pb-5 overflow-auto" >
        <div class="card shadow border-0 p-3 m-3" style="border-radius: 15px; background-color: #B3B3C8; width: 20em; min-width: 300px;">
            <div class="card-body p-0">
                <div class="container-fluid p-0 m-0">
                <div class="row  align-items-center ">
                    <div class="col-4 p-0 m-0">
                    <img src="/images/tradingeducation.png"/>
                    </div>
                    <div class="col-8">
                    <p class="small p-0 m-0">See all of our</p>
                    <strong><a href="/education/" class="text-decoration-none">TRADING EDUCATION</a></strong>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="card shadow border-0 p-3 m-3" style="border-radius: 15px; background-color: #BFE1CF; width: 20em; min-width: 300px;">
            <div class="card-body p-0">
                <div class="container-fluid">
                <div class="row  align-items-center ">
                    <div class="col-4 p-0 m-0">
                        <img src="/images/gettingstarted.png"/>
                    </div>
                    <div class="col-8">
                        <p class="small p-0 m-0">Learn how to trade the</p>
                        <strong><a href="/tags/getting-started/" class="text-decoration-none">STOCK MARKET FOR BEGINNERS</a></strong>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="card shadow border-0 p-3 m-3" style="border-radius: 15px; background-color: #E9E4D7; width: 20em; min-width: 300px">
            <div class="card-body p-0">
                <div class="container-fluid">
                <div class="row  align-items-center ">
                    <div class="col-4 p-0 m-0">
                    <img src="/images/tradingstrategies.png"/>
                    </div>
                    <div class="col-8">
                    <p class="small p-0 m-0">Learn about our</p>
                    <strong><a href="/tags/strategies/" class="text-decoration-none">TRADING STRATEGIES</a></strong>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="card shadow border-0 p-3 m-3" style="border-radius: 15px; background-color: #DCA9D1; width: 20em; min-width: 300px">
            <div class="card-body p-0">
                <div class="container-fluid">
                <div class="row  align-items-center ">
                    <div class="col-4 p-0 m-0">
                    <img src="/images/psychology.png"/>
                    </div>
                    <div class="col-8">
                    <p class="small p-0 m-0">Improve your</p>
                    <strong><a href="/tags/trading-psychology/" class="text-decoration-none">TRADING PSYCHOLOGY</a></strong>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    {{- end }}
{{- end }}