<div class="col-lg-3 col-sm-12 notch p-0 m-0 bg-dark text-white border-0 text-center" >
    <ul class="nav nav-pills p-3 m-0 justify-content-center" id="pills-tab" role="tablist">
        <li class="nav-item m-0" role="presentation">
          <a id="nav_trades" class="nav-link text-white bg-dark active" href="/tradeplanner/" title="Timeline" type="button">
            <i class="fa fa-bars-staggered"></i>
          </a>
        </li>
        <li class="nav-item m-0" role="presentation">
          <a id="nav_analytics" class="nav-link text-white bg-dark active" href="/tradeplanner/earnings_calendar/" title="Earnings Calendar" type="button">
            <i class="fa fa-sack-dollar"></i>
          </a>
        </li>
        <li class="nav-item m-0" role="presentation">
          <a id="nav_connections" class="nav-link text-white bg-dark active" href="/tradeplanner/economic_calendar/" title="Economic Calendar" type="button">
            <i class="fa fa-landmark"></i>
          </a>
        </li>
      </ul>
</div>

<script>

  $(document).ready(function() {
      

  });

</script>