<div class="container p-0 m-0">
  <div class="content-section row stock_social_row">
      <div class="col-12 d-lg-block">
          <div class="card-body tweet-header justify-content-center">
              <h4 id="financials_title" class="card-title fw-semibold text-white text-uppercase">FINANCIALS</h4>
          </div>
      </div>
  </div>

  <div class="row pb-3 justify-content-evenly text-center tenq">
    <div class="col-4">
      <div class="card lg-rounded  d-flex h-100 gradient-green">
        <div class="card-body">
            <div class="fs-3" id="financials_cagr">-</div>
            <div class="text-black" style="font-size: 0.7rem" title="Compound Annual Growth Rate">CAGR</div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card lg-rounded d-flex h-100 gradient-green">
        <div class="card-body">
          <div class="fs-3" id="financials_ltm_gross_margin">-</div>
          <div class="text-black" style="font-size: 0.7rem" title="Trailing 12 Months - Gross Margin">Gross Margin (TTM)</div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card lg-rounded d-flex  h-100 gradient-green">
        <div class="card-body">
          <div class="fs-3" id="financials_ltm_fcf_margin">-</div>
          <div class="text-black" style="font-size: 0.7rem" title="Trailing 12 Months - Free Cash Flow Margin">Free Cash Flow Net Margin (TTM)</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-center tenq">
    <!-- Tabs Navigation -->
    <ul class="nav nav-tabs m-0 w-100 border-0 m-2 p-0 m-0 bg-dark lg-rounded" id="chartTabs" role="tablist">
        <li class="nav-item w-50 p-2 m-0" role="presentation">
            <a class="nav-link w-100 active text-light" id="revenue-tab" data-bs-toggle="tab" href="#revenue" role="tab" aria-controls="revenue" aria-selected="true">Quarterly Revenue</a>
        </li>
        <li class="nav-item w-50 p-2 m-0" role="presentation">
            <a class="nav-link w-100 text-light" id="eps-tab" data-bs-toggle="tab" href="#eps" role="tab" aria-controls="eps" aria-selected="false">Earnings Per Share</a>
        </li>
    </ul>

    <!-- Tabs Content -->
    <div class="tab-content" id="chartTabsContent">
        <!-- Revenue Chart Tab -->
        <div class="tab-pane fade show active" id="revenue" role="tabpanel" aria-labelledby="revenue-tab">
            <div class="col-12 mb-3">
                <div class="card lg-rounded">
                    <div class="card-title p-3 fw-bold">
                        QUARTERLY REVENUE
                    </div>
                    <div class="card-body">
                        <div id="revenueChart"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings Per Share Chart Tab -->
        <div class="tab-pane fade" id="eps" role="tabpanel" aria-labelledby="eps-tab">
            <div class="col-12 mb-3">
                <div class="card lg-rounded">
                    <div class="card-title p-3 fw-bold">
                        EARNINGS PER SHARE
                    </div>
                    <div class="card-body">
                        <div id="epsChart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

  <div class="row pb-3 text-center tenq">
    <div class="col-lg-12 col-12">
      <div class="card lg-rounded">
        <div class="sankey_container card-body justify-content-center d-none" style="width: 1200px; height: 600px; align-items: center; justify-content: center;">
            <div id="sankey_chart"  style="width: 1200px; height: 600px"></div>
        </div>
        <img id="sankey_image" class="d-block lg-rounded" style="width: 100%"></img>
      </div>
    </div>
  </div>

</div>


