<div class="card h-100">
    <div class="card-title gradient-green text-white fw-bold p-3"><i class="fa fa-lock"></i> Following On Trade Social </div>
    <div id="WL_Following" class="post-column">
        <!-- <div class="card-body tweet-card gradient-profile-card gold-card">
            <div class="tweet-header">
                <div>
                    <strong>FREE LIMIT REACHED</strong>
                </div>
            </div>
            <div class="tweet-body">
                You have reached your limit for the day.  Become a member to see more!
            </div>
        </div> -->

        <div class="card-body tweet-card">
            <div class="tweet-header">
                <div>
                    <strong>UNDER CONSTRUCTION</strong> - just now
                </div>
            </div>
            <div class="tweet-body">
                <strong></strong> <br/>
                This Timeline is currently being threaded and not yet enabled for members.
            </div>
        </div>
        
        <!-- <div class="card-body tweet-card">
            <div class="tweet-header">
                <div>
                    <strong>Sith</strong> - 2 hours ago
                </div>
            </div>
            <div class="tweet-body">
                <strong>TEST 165C 08/12</strong> - Trimmed at $1.30<br/>
                had to trim
            </div>
        </div>
        <div class="card-body tweet-card gradient-green">
            <div class="tweet-header">
                <div>
                    <strong>Sith</strong> - 2 hours ago
                </div>
            </div>
            <div class="tweet-body">
                <strong>TEST 165C 08/12</strong> - Added at $1.02<br/>
                Bounced ORB low. Back above 209.
            </div>
        </div>
         -->
    </div>
</div>