<div id="WL_Following">
    <!-- Trade Card Template -->
    <div class="col-lg-12 col-sm-12 trade-card-template d-none  ">
        <div class="card trade_card border-1 p-2 mx-0 my-1 lg-rounded gradient-green" >
            <div class="card-body p-1 tradeRow">
                <div class="container p-0">
                    <div class="row align-items-center">
                        <div class="col-2 m-0">
                            <img class="tradeLogo" src="/images/logos/TSLA.png" style="width: 3em; border-radius: 2em; border: 3px solid white;" />
                        </div>
                        <div class="col-10 px-3">
                            <div class="row ">
                                <div class="col-8 small lh-1 fw-bold text-uppercase traderName text-nowrap">Trader Name</div>
                                <div class="col-4"></div>
                            </div>
                            <div class="row py-1">
                                <div class="col-8 fs-5 lh-1 tradeContract text-nowrap ">Contract</div>
                                <div class="col-4 fs-5 lh-1 tradeGain text-end">Gains %</div>
                            </div>
                            <div class="row">
                                <div class="col-10  small lh-1 tradeNotes text-muted text-uppercase" style="overflow: hidden; text-overflow: ellipses; white-space: nowrap;">Trade Notes</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<audio id="newTradeSound" src="/audio/notification.mp3" preload="auto"></audio>
