{{ define "main" }}

<section class="section pt-1 pb-2 bg-dark">
  <div class="container-fluid p-0 bg-dark">
    <div class="row p-0 m-0 justify-content-center ">
      {{ partial "planner/stocks_navbar" (dict "symbol" .Page.Params.ticker) }}
    </div>
    <div class="row p-lg-3 p-0 m-1 justify-content-evenly" >
      <div class="col-12 bg-white border-0 mb-lg-3 m-0 p-0 lg-rounded h-100 mh-100">
        <h1 class="gradient-text px-3 pt-3" >{{.Page.Params.ticker}} Market Gamma</h1>
        <p class="px-3 text-muted">This is not investment advice</p>
        <p class="px-3 text-muted"><a href="/education/how-to-trade-using-gamma-exposure/" title="Learn More About trading with Gamma Exposure">Learn how to trade using Gamma Exposure (GEX)</a></p>
       
        <div class="col-12 p-3">
          <div class="my-3 py-3 card shadow border-0  bg-black" style="border-radius: 15px">
            <div class="tvChartHeader"></div>
          </div>  
        </div>

      </div>
    </div>
  </div> <!-- end row -->
</section>



<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script type="text/javascript" src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>

<script>  
    $(document).ready(function() {
      var ticker = {{ .Page.Params.ticker }};
      var tradePlanner = new TradePlanner();
      tradePlanner.fetchLeaderboardSignals(ticker)
      tradePlanner.fetchFlow(ticker);
      tradePlanner.renderLiveGammaChart(ticker);

    });
</script>
{{ end }}
