<section id="{{ .id }}" class="section brands py-5">
  <div class="container">
    <div class="row">
      {{ with .content.title }}
        <div class="col-12">
          <p class="text-black-61 text-center pb-3">{{ . }}</p>
        </div>
      {{ end }}
    </div>
    <div class="row align-items-center justify-content-center">
      {{ range .content.items }}
      <div class="col-3 px-3 my-2 text-center">
        <a href="{{.url}}" target="_blank" title="{{ .name }}">{{ partial "utilities/image-fluid.html" .image }}</a>
      </div>
      {{ end }}
    </div>
  </div>
</section>
