<section id="{{ .id }}" class="section hero">
  <div class="container">
    <div class="row flex-column flex-xl-row-reverse">
      <!-- hero image -->
      <div class="col-12 col-xl-6  d-flex flex-column justify-content-center hero-image">
        
            <div class="row  align-items-center ">
              <div class="col-12 mb-md-0">
                  <div class="card  border-0  mx-0 my-1" style="border-radius: 1em;">
                    <div id="tradesRecentBest"></div>
                </div>
              </div>
            </div>

            <div class="col-lg-12 col-sm-12 trade-card-template d-none">
              <div class="card shadow border-0  mx-0 my-1" style="border-radius: 1em;">
                  <div class="card-body p-1 tradeRow" onclick="selectContract(this);">
                      <div class="container p-0">
                          <div class="row">
                              <div class="col-2 m-0">
                                  <img class="tradeLogo" src="/images/logos/TSLA.png" style="width: 3em; border-radius: 2em;" />
                              </div>
                              <div class="col-10 px-3">
                                  <div class="row">
                                      <div class="col-8 small lh-1 fw-light text-uppercase traderName">Trader Name</div>
                                      <div class="col-4"></div>
                                  </div>
                                  <div class="row">
                                      <div class="col-8 fs-3 lh-1 tradeContract">Contract</div>
                                      <div class="col-4 fs-3 lh-1 tradeGain text-end">Gains %</div>
                                  </div>
                                  <div class="row">
                                      <div class="col-8  small lh-1 tradeNotes" style="overflow: hidden; text-overflow: ellipses; white-space: nowrap;">Trade Notes</div>
                                      <div class="col-4"></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          
          <script>
            userTrades = new Trades();
            userTrades.renderTopRecentTrades(isCarousel = false, parentEl = $("#tradesRecentBest"), template = $(".trade-card-template"));
          </script>
      </div>
      <!-- content -->
      <div class="col-12 col-xl-6 mt-5 d-flex flex-column justify-content-center">
        {{ with .content.main }}
          <h1 class="fw-bold text-center text-xl-start pb-1">{{ . | markdownify }}</h1>
        {{ end }}
        {{ with .content.title }}
          <h3 class="hero-title fw-bold display-1 text-primary text-center text-xl-start pb-4">{{ . | markdownify }}</h3>
        {{ end }}
        {{ with .content.text }}
          <p class="text-center text-black-61 text-xl-start pb-4">{{ . | markdownify }}</p>
        {{ end }}
        <div class="d-flex flex-column flex-xl-row">
          {{ with .content.buttonSecondary }}
            <a class="btn btn-secondary text-light px-4 my-1" href="{{ .url }}" title="{{ .label }}">{{ .label }}</a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
