<section id="{{ .id }}" class="section portfolio">
  <div class="container">
    <div class="row justify-content-center ">
      {{ range .content }}
      <div class="col-lg-4 col-sm-12 d-flex my-3">
        <div class="card shadow border-0" style="border-radius: 15px; background-color: #E9E4D7;">
          <div class="card-body p-3">
            <div class="container-fluid">
              <div class="row  align-items-center ">
                <div class="col-12">
                  {{ with .pretitle }}
                    <p class="text-danger fw-semibold mb-2">{{ . }}</p>
                  {{ end }}
                  {{ with .title }}
                    <h3 class="fs-1 fw-bold text-primary pb-3">{{ . }}</h3>
                  {{ end }}
                  {{ with .text }}
                    <p class="text-black-61 pb-3">{{ . | safeHTML }}</p>
                  {{ end }}
                  <div class="">
                    {{ range .buttons }}
                      <a class="text-decoration-none me-3" href="{{ .url }}">{{ .label }}</a>
                    {{ end }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
