<section id="{{ .id }}" class="section problem p-5" style="background-color: #313131;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-7 d-flex flex-column justify-content-center">
        <div class="pb-4">{{ partial "utilities/image.html" "images/testimonials-left-quote.png" }}</div>
        <div class="card d-flex flex-row align-items-start border-0 p-0"  style="background-color: #313131;">
          <h3 class="card-text text-light">{{ .content }}</h3>
        </div>
        <div class="pt-4 text-end">{{ partial "utilities/image.html" "images/testimonials-right-quote.png" }}</div>
      </div>
    </div>
  </div>
</section>

<section id="agitate" class="section agitate p-5" >
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-6 d-flex flex-column justify-content-center">
        <div class="card shadow border-0 p-3 m-3  w-100" style="border-radius: 15px;">
          <div class="card-body p-3">
            <div class="container-fluid">
              <div class="row  align-items-center ">
                <div class="col-12">
                    <h3 class="fs-1 fw-bold text-primary pb-3">Is This <strong class="text-danger">You</strong>?</h3>
                    {{ range .agitate }}
                    <p class="text-black-61 pb-1">
                      <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="#c00" class="bi bi-check" viewBox="0 0 16 16">
                        <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                      </svg>
                      {{ .fear | safeHTML }}</p>
                    {{ end }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
