<section id="{{ .id }}" class="section services py-5">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-12 col-xl-6">
        {{ with .content.title }}
          <h3 class="fs-1 fw-bold text-center text-primary pb-3">{{ . }}</h3>
        {{ end }}
        {{ with .content.text }}
          <p class="text-black-61 text-center pb-3">{{ . }}</p>
        {{ end }}
      </div>
    </div>
    <div class="row justify-content-center ">
      {{ range $i, $e := .content.cards }}

      {{ $colors := (slice "green" "yellow" ) }}
      <div class="col-lg-5 col-sm-12  card shadow border-0 p-3 m-3  {{ with $e.image }}d-none d-md-flex {{ end }}" style="border-radius: 2em; background-image: url('/images/banner.png'); background-size: contain;">
        {{ with $e.image }}
        <video autoplay muted loop style="border-radius: 1em" >
          <source src="/videos/SpyderAcademy.mp4" type="video/mp4" />
        </video>

        {{ end }}
        <div class="card-body p-3">
          <div class="container-fluid p-0 m-0">
            <div class="row  align-items-center ">
                <div class="col-12  text-center ">
                  {{ with $e.title }}<h3 class="text-dark text-center"> {{ . }}</h3>{{ end }}
                  {{ with $e.price }}
                    <h4 class="my-0 display-2 text-dark  text-center font-weight-normal mb-3">$  {{ . }} <span class="h5">/mo</span></h4>
                    {{ if $e.featured }}
                    <div class="m-0">
                      <span class="badge bg-white text-dark p-2">{{ $e.promotion | safeHTML }}</span>
                    </div>
                    {{ end }}
                    <hr/>
                  {{ end }}
                  <ul class="list-unstyled mb-5">
                    {{ range $e.features }}
                      <li>{{ .item}} </li>
                    {{ end }}
                  </ul>
                  
                </div>
            </div>
          </div>
        </div>
        <div class="footer text-center">
          {{ with $e.button }}
            <a class="btn btn-lg btn-block btn-primary" style="border-radius: 0.5em"  href="{{ .url }}" title="{{ $e.title }} - {{ .label }}">{{ .label }}</a>
          {{ end }}
        </div>
      </div>
    {{ end }}
    </div>
</section>
