<section id="{{ .id }}" class="section testimonial py-5">
  <div class="container">
    <div class="row pb-5">
      <div class="col-12">
        {{ with .content.title }}
          <h3 class="fs-1 fw-bold text-center text-primary pb-3">{{ . }}</h3>
        {{ end }}
      </div>
    </div>
    <div class="row text-center">
      {{ range $i, $e := .content.list }}
      <div class="col-md-4 mb-5 mb-md-0">
        <div class="card shadow border-0 testimonial-card" style="border-radius: 15px;">
          {{ $colors := (slice  "#b3b3c8"  "#bfe1cf" "#e9e4d7" ) }}
          <div class="card-up" style="background-color: {{ index $colors (mod $i 4) }}">
            <div class="container-fluid p-0 m-0 h-100">
              <div class="row align-items-center h-100 ">
                <div class="col-12 text-uppercase">
                  <strong>{{ $e.title }}</strong>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text text-black-61 px-5 mb-4"  style="height: 14em" >{{ $e.description | safeHTML }}</p>
          </div>
          <div class="card-footer">
            <p class="dark-grey-text mt-4"><a class="fw-bold text-primary text-nowrap text-decoration-none" href="{{ $e.button.url }}" title="{{ $e.button.label }} - {{ $e.title }}" target="_blank">{{ $e.button.label }}</a></p>
          </div>
        </div>
      </div>
       
      {{ end }}
    </div>
  </div>
</section>
