<section id="{{ .id }}" class="section teachers py-5 bg-blue-light">
  <div class="container">
    <div class="row justify-content-center pb-5 ">
      <div class="col-12">
        {{ with .content.title }}
          <h3 class="fs-1 fw-bold text-center text-primary pb-3">{{ . }}</h3>
        {{ end }}
        {{ with .content.text }}
          <p class="text-black-61 text-center pb-3">{{ . }}</p>
        {{ end }}
        <div class="card shadow border-0 testimonial-card d-flex" style="border-radius: 15px;">
          <div class="card-body">
            {{ range $e := .content.learning }}
              <h5 class="mt-4 fw-bold text-danger">{{ .title }}</h5>
              <p class="card-text text-black-61">{{ .text | safeHTML }}</p>
            {{ end }}
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      {{ range $i, $e := .content.cards }}
      <!-- column  -->
      <div class="col-lg col-md-3 mb-4" style="@media(min-width: 1200px) {flex: 0 0 14.28%; max-width: 14.28%}">
        <!-- Row -->
        <div class="row">
          <div class="col-md-12 text-center">
            {{ with $e.image }}
              {{ with resources.Get . }}
                <img class="img-fluid rounded-circle" src="{{ .Permalink }}" alt="{{ $e.name }}"  style="border-radius: 20px; max-width: 150px" />
              {{ end }}
            {{ end }}
          </div>
          <div class="col-md-12 text-center">
            <div class="pt-2">
              <h5 class="mt-4 font-weight-medium mb-0"><a href="{{ $e.button.url }}" target="_blank">{{ $e.name }}</a></h5>
              <h6 class="subtitle mb-3 font-weight-bold">{{ $e.title }}</h6>
              <p class="small font-weight-light">{{ $e.text | safeHTML}}</p>
            </div>
          </div>
        </div>
        <!-- Row -->
      </div>
      <!-- column  -->
      {{ end }}

    </div>

  </div>
</section>
