<section id="{{ .id }}" class="section testimonials py-5">
  <div class="container">
    <div class="row pb-5">
      <div class="col-12">
        {{ with .content.title }}
          <h3 class="fs-1 fw-bold text-center text-primary pb-3">{{ . }}</h3>
        {{ end }}
      </div>
    </div>
    <div class="row">
      {{ with .content.featured }}
      <div class="col-12 col-xl-5 d-none d-lg-block d-flex flex-column justify-content-center">
        {{ with .image }}
          {{ partial "utilities/image-fluid.html" . }}
        {{ end }}
      </div>
      <div class="col-12 col-xl-7 d-flex flex-column justify-content-center">
        <div class="pb-4">{{ partial "utilities/image-third.html" "images/testimonials-left-quote.png" }}</div>
        <div class="card d-flex flex-row align-items-start border-0 shadow p-5">
          <p class="card-text text-black-61 px-5">"{{ .text }}" <a class="fw-bold text-primary text-nowrap text-decoration-none" href="{{ .link }}" target="_blank">- {{ .client }}</a></p>
        </div>
        <div class="pt-4 text-end">{{ partial "utilities/image-third.html" "images/testimonials-right-quote.png" }}</div>
      </div>
      {{ end }}
    </div>
    <div class="row text-center">
      {{ range $i, $e := .content.list }}
      <div class="col-md-4 mb-5 mb-md-0">
        <div class="card shadow border-0 testimonial-card" style="border-radius: 15px;">
          {{ $colors := (slice  "#ffbd59" "#2d5772" "#29741d") }}
          <div class="card-up" style="background-color: {{ index $colors (mod $i 4) }}"></div>
          <div class="avatar mx-auto bg-white">
            <img src="{{ $e.image }}" class="rounded-circle img-fluid" />
          </div>
          <div class="card-body">
            <p class="card-text text-black-61 px-5 mb-4"  style="height: 11em" >{{ $e.text | safeHTML }}</p>
            <hr />
            <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pe-2"></i><a class="fw-bold text-primary text-nowrap text-decoration-none" href="{{ .link }}" target="_blank">{{ .client }}</a></p>
          </div>
        </div>
      </div>
       
      {{ end }}
    </div>
  </div>
</section>
