<section id="{{ .id }}" class="section trades  bg-blue-light">
  <div class="container pb-5">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-lg-6">
        <div id="carouselTrades" class="carousel slide d-none d-lg-block carousel-dark" data-bs-ride="carousel">
          <div class="carousel-inner">
              <div id="tradesCarousel"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-12 col-sm-12 trade-carousel-template d-none">
    <div class="card shadow border-0  mx-0 my-1" style="border-radius: 1em;">
        <div class="card-body p-1 tradeRow">
            <div class="container p-0">
                <div class="row">
                    <div class="col-2 m-0">
                        <img class="tradeLogo" src="/images/logos/TSLA.png" alt="Tesla (TSLA)" style="width: 3em; border-radius: 2em;" />
                    </div>
                    <div class="col-10 px-3">
                        <div class="row">
                            <div class="col-8 small lh-1 fw-light text-uppercase traderName">Trader Name</div>
                            <div class="col-4"></div>
                        </div>
                        <div class="row">
                            <div class="col-8 fs-3 lh-1 tradeContract">Contract</div>
                            <div class="col-4 fs-3 lh-1 tradeGain text-end">Gains %</div>
                        </div>
                        <div class="row">
                            <div class="col-8  small lh-1 tradeNotes" style="overflow: hidden; text-overflow: ellipses; white-space: nowrap;">Trade Notes</div>
                            <div class="col-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  <script>
    // $(document).ready(async function() {
    //     tradeSocial = new TradeSocial();
    //     await tradeSocial.renderTopRecentTrades(isCarousel = true, parentElement=$('#tradesCarousel'), templateElement=$('.trade-carousel-template'))
    //     // Reinitialize the carousel
    //     $('#carouselTrades').carousel(
    //       {interval: 2000} // Changes the slide every 2 seconds
    //     );

    //     // Explicitly start the carousel if needed
    //     setTimeout(() => {
    //       $('#carouselTrades').carousel('cycle'); // This command depends on the carousel plugin you're using
    //     }, 1000); // A slight delay to ensure dynamic content is loaded and the carousel is ready

    //   });

  </script>
  
</section>
