{{ define "main" }}


  <section class="section blog-single py-5">
    <div class="container">
      {{ if in (slice "education" "tags" "courses") .Section }}
        {{ partial "shared/tags.html" }}
      {{ end }}
      
      <div class="row justify-content-center pb-0">
        <div class="col-12">
          {{ with .Title }}
            <h1 class="display-1 fw-bold text-center text-primary pb-3">{{ . }}</h1>
          {{ end }}
          {{ with .Params.description }}
            <p class="text-black-61 text-center pb-3">{{ . }}</p>
          {{ end }}


        </div>
      </div>
      
      <div class="row pb-5">
        <div class="col-lg-6 col-sm-12 ">
          <div class="blog-content fs-5">
            <h3>Course Overview</h3>
            {{ .Content }}
          </div>
          
          <div class="card shadow border-0 p-3 mb-3 testimonial-card d-flex  bg-blue-light" style="border-radius: 15px;">
            <div class="card-body p-0">
                <div class="container-fluid p-0 m-0">
                <div class="row  align-items-top ">
                    <div class="col-4">
                      <p class="small p-0 m-0">TIME</p>
                      <p>{{ .Params.coursetime }}</p>
                    </div>
                    <div class="col-4">
                      <p class="small p-0 m-0">DIFFICULTY</p>
                      <p>{{ .Params.level }}</p>
                    </div>
                    <div class="col-4">
                      <p class="small p-0 m-0">BENEFITS</p>
                      <p>
                      {{ range .Params.benefits }}
                        {{ . }}<br/>
                      {{ end }}
                      </p>
                    </div>
                </div>
                </div>
            </div>
          </div>
         
        </div>

        <div class="col-lg-6 col-sm-12 ">
          {{ partial "shared/course-lessons.html" . }}
        </div>
    </div>


    <div class="pinterest-images d-none">
        {{ $pinPath := "pins/**" }}
        {{ $pinImages := .Page.Resources.Match $pinPath }}

        {{ range $pinImages }}
          {{ $pin := .Resize "1000x" }}
          {{ with $pin }}
             <img src="{{ .RelPermalink }}" alt="{{$.Description}}">
          {{ end }}
        {{ end }}
    </div>

  </section>

  {{ with .Site.Data.home.benefits }}{{ partial "sections/benefits.html" . }}{{ end }}
  {{ with .Site.Data.home.trades }}{{ partial "sections/trades.html" . }}{{ end }}

{{ end }}
