{{ define "main" }}
<section class="section pt-1 pb-2 bg-dark">
  <div class="container-fluid " style="position: relative; overflow-x: hidden;">
    <div class="row p-0 m-0">
      <div class="col-lg-12 col-sm-12 p-0">
        <div class="container-fluid p-0 m-0">
          <div class="row h-100" id="memberTrades">
            <div class="col-12 my-0">
              <div class="card  bg-black text-white mb-4 border-0 mx-lg-3 lg-rounded">
                <div class="container-fluid px-3">
                  <div class="row">
                    <div class="col-12 p-3 mt-5 text-center">
                      <h1 class="title">
                        <div class="">Transforming Trading Through</div>
                        <strong>Collective Intelligence</strong>
                      </h1>
                      <h2 class="fs-3 mt-5 text-muted">
                        A Game-Changer Trading and Social Platform for All.<br />
                        Lock in Your Spot Now.
                      </h2>
                      <a href="https://whop.com/checkout/plan_bCMjkbQ9TJsN2?d2c=true" target="_blank"
                        class="btn p-3 px-5 mt-5 text-uppercase fs-3 lg-rounded gradient-green text-black fw-bold">Try
                        Trade Social For Free</a>
                    </div>
                  </div>
                </div>

                <div class="container-fluid lg-rounded mt-5 home-gradient px-0 px-lg-3">
                  <div class="row justify-content-center">
                    <div class="col-12 p-0 p-lg-3 mt-5 text-center">
                      <h1 class="subtitle">
                        <strong>How We Changed The Game</strong>
                      </h1>
                    </div>

                    <div class="col-12 col-lg-8 p-0 my-5">
                      <div class="card bg-black p-3 text-center" style="height: 400px; border-radius: 50px">
                        <div class="container h-100">
                          <div class="row h-100 d-flex align-items-center">
                            <div class="col-12 col-lg-6">
                              show clip of gamma exposure, gamma walls, and eventually leaderboard
                            </div>
                            <div class="col-12 col-lg-6 text-start">
                              <h3 class="subtitle fs-1"><strong> ✨ Gamma Exposure</strong></h3>
                              <div class="fs-1 ">
                                Where is the big money currently positioned in the options market
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="col-12 col-lg-8 p-0 my-5">
                      <div class="card bg-black p-3  text-center" style="height: 400px; border-radius: 50px">
                        <div class="container h-100">
                          <div class="row h-100 d-flex align-items-center">
                            
                            <div class="col-12 col-lg-6 text-start">
                              <h3 class="subtitle fs-1"><strong> ✨ Real Trading Strategies</strong></h3>
                              <div class="fs-1 ">
                                When should I go long on TSLA?<br/>
                                What are my price targets?
                              </div>
                            </div>
                            <div class="col-12 col-lg-6">
                              show clip of technical analysis column
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-12 col-lg-8 p-0 my-5">
                      <div class="card bg-black p-3  text-center" style="height: 400px; border-radius: 50px">
                        <div class="container h-100">
                          <div class="row h-100 d-flex align-items-center">
                            <div class="col-12 col-lg-6">
                              show clip of various AI bots (Gamma Bot, Flow Bot, etc) - Coming Soon
                            </div>

                            <div class="col-12 col-lg-6 text-start">
                              <h3 class="subtitle fs-1"><strong><i class="fa fa-robot"></i> AI Trade Alerts</strong> <span class='text-muted fs-6'>*coming soon</span></h3>
                              <div class="fs-1 ">
                                Receive Trade Alerts from our custom algos, and track their performance over time
                              </div>
                            </div>
                            
                            

                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-12 col-lg-8 p-0 my-5">
                      <div class="card bg-black p-3  text-center" style="height: 400px; border-radius: 50px">
                        <div class="container h-100">
                          <div class="row h-100 d-flex align-items-center">
                            

                            <div class="col-12 col-lg-6 text-start">
                              <h3 class="subtitle fs-1"><strong> ✨ Open Interest Tracking</strong></h3>
                              <div class="fs-1 ">
                                I followed this unusual whale flow.<br/>
                                Are they still in it?
                              </div>
                            </div>
                            <div class="col-12 col-lg-6">
                              show clip of OI tracker
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="col-12 p-0 p-lg-3 mt-5 text-center">
                      <h1 class="subtitle text-white">
                        Connect with Others
                      </h1>
                    </div>

                    <div class="col-12 col-lg-8 p-0 my-5">
                      <div class="card bg-black p-3  text-center" style="height: 400px; border-radius: 50px">
                        <div class="container h-100">
                          <div class="row h-100 d-flex align-items-center">
                            
                            <div class="col-12 col-lg-6 text-start">
                              <h3 class="subtitle fs-1"><strong><i class="fa fa-person-dots-from-line"></i> Social Trading</strong></h3>
                              <div class="fs-1 ">
                                Hey there, you seem to have this figured out! Can you tell us when you take a trade?
                              </div>
                            </div>
                            <div class="col-12 col-lg-6">
                              show clip of trade alerts and sharing a trade and discovery tab
                            </div>
                            
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-12 col-lg-8 p-0 my-5">
                      <div class="card bg-black p-3  text-center" style="height: 400px; border-radius: 50px">
                        <div class="container h-100">
                          <div class="row h-100 d-flex align-items-center">
                            <div class="col-12 col-lg-6">
                              show clip of trade alerts and sharing a trade and discovery tab
                            </div>
                            <div class="col-12 col-lg-6 text-start">
                              <h3 class="subtitle fs-1"><strong><i class="fa-brands fa-discord"></i> Community</strong></h3>
                              <div class="fs-1 ">
                                Hang out in Discord and bounce ideas of each other in the community in real time.
                              </div>
                            </div>
                            
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-12 col-lg-8 p-0 my-5">
                      <div class="card bg-black p-3  text-center" style="height: 400px; border-radius: 50px">
                        <div class="container h-100">
                          <div class="row h-100 d-flex align-items-center">
                            
                            <div class="col-12 col-lg-6 text-start">
                              <h3 class="subtitle fs-1"><strong> ✨ Personalized Trade Analytics</strong></h3>
                              <div class="fs-1 ">
                                What should I focus on to improve my success rate
                              </div>
                            </div>
                            <div class="col-12 col-lg-6">
                              show clip of trade profile analytics
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-12 col-lg-8 p-0 my-5">
                      <div class="card bg-black p-3  text-center" style="height: 400px; border-radius: 50px">
                        <div class="container h-100">
                          <div class="row h-100 d-flex align-items-center">
                            <div class="col-12 col-lg-6">
                              show clip of trade profile card
                            </div>
                            <div class="col-12 col-lg-6 text-start">
                              <h3 class="subtitle fs-1"><strong> ✨ Trading Gamified</strong></h3>
                              <div class="fs-1 ">
                                Bruh - I just earned the Meme's Badge and it be bussin!
                              </div>
                            </div>
                            

                          </div>
                        </div>
                      </div>
                    </div>


                    

                    <div class="col-12 p-0 p-lg-3 mt-5 text-center">
                      <h1 class="subtitle text-black">
                        Intelligent Discovery
                      </h1>
                    </div>

                    <div class="col-12 col-lg-8 p-0 my-5">
                      <div class="card bg-black p-3  text-center" style="height: 400px; border-radius: 50px">
                        <div class="container h-100">
                          <div class="row h-100 d-flex align-items-center">
                           
                            <div class="col-12 col-lg-6 text-start">
                              <h3 class="subtitle fs-1"><strong><i class="fa fa-glasses"></i> Stock Research</strong></h3>
                              <div class="fs-1 ">
                                What does Upstart do again?<br/>
                                How do they make money?<br/>
                                Tell me about their past Earnings.
                              </div>
                            </div>
                            <div class="col-12 col-lg-6">
                              show clip of stock financials, quarterly earnings,<br/>sankey charts, and  article
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="col-12 col-lg-8 p-0 my-5">
                      <div class="card bg-black p-3  text-center" style="height: 400px; border-radius: 50px">
                        <div class="container h-100">
                          <div class="row h-100 d-flex align-items-center">
                            <div class="col-12 col-lg-6">
                              show clip of the X timeline columns
                            </div>
                            <div class="col-12 col-lg-6 text-start">
                              <h3 class="subtitle fs-1"><strong> ✨ Fin<i class="fa-brands fa-x-twitter"></i> Pulse</strong></h3>
                              <div class="fs-1 ">
                                What trade ideas are they sharing on <i class="fa-brands fa-x-twitter"></i> right now
                              </div>
                            </div>
                            

                          </div>
                        </div>
                      </div>
                    </div>

                    
                    <div class="col-12 col-lg-8 p-0 my-5">
                      <div class="card bg-black p-3  text-center" style="height: 400px; border-radius: 50px">
                        <div class="container h-100">
                          <div class="row h-100 d-flex align-items-center">
                            

                            <div class="col-12 col-lg-6 text-start">
                              <h3 class="subtitle fs-1"><strong><i class="fa fa-calendar"></i> Important Events</strong></h3>
                              <div class="fs-1 ">
                                Is Jay Powell speaking today?<br/>
                                When is CPI?<br/>
                                Who has Earnings this week?
                              </div>
                            </div>
                            
                            <div class="col-12 col-lg-6">
                              show clip of Earnings Hub and Economic Calendar
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="row m-0 p-lg-3 dark-gradient">
                  <div class="col-12 p-lg-3 mt-5 text-center">
                    <h2 class="title">
                      <strong>Try 7 Days Free</strong>
                    </h2>
                    <h3 class="fs-3 mt-5 text-muted subtitle fw-normal">
                      Then <strong>$39.99/month</strong>. Or try out Annual Plan and <b class="text-white">save 20%.</b>
                    </h3>
                    <a href="https://whop.com/checkout/plan_bCMjkbQ9TJsN2?d2c=true" target="_blank"
                      class="btn p-3 px-5 mt-5 text-uppercase fs-3 lg-rounded gradient-green text-black fw-bold">Try
                      Trade Social For Free</a>
                  </div>
                </div>


                <div class="row m-0 p-lg-3 mb-5 lg-rounded justify-content-center align-items-center">
                  <div class="col-12 col-md-8 card bg-dark p-3 mt-5 text-center lg-rounded">
                    <h2 class="fs-2 subtitle">
                      <strong>Frequently Asked Questions</strong>
                    </h2>
                    <div class="col-12 col-md-8 mx-auto">
                      <div class="accordion accordion-flush" id="faqAccordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="faqTrial">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse1" aria-expanded="false" aria-controls="faqCollapse1">
                                    Can I try Trade Social with a free trial?
                                </button>
                            </h2>
                            <div id="faqCollapse1" class="accordion-collapse collapse" aria-labelledby="faqTrial" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                  Yes!  Spyder Academy offers a 7-day free trial allowing you to explore its features and decide if its the right tool for you before committing to a subscription.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="faqTakeTrades">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse2" aria-expanded="false" aria-controls="faqCollapse2">
                                    Does Trade Social take trades for me?
                                </button>
                            </h2>
                            <div id="faqCollapse2" class="accordion-collapse collapse" aria-labelledby="faqTakeTrades" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    No! Trade Social does not execute trades. Trade Social is an idea sharing platform, providing insights and recommendations to help you make an informed decision.  Past performance is not a guarantee of future performance.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="faqRecommendations">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse3" aria-expanded="false" aria-controls="faqCollapse3">
                                  How does Trade Social make its recommendations?
                                </button>
                            </h2>
                            <div id="faqCollapse3" class="accordion-collapse collapse" aria-labelledby="faqRecommendations" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    We worked with the best traders to derive algorithms to analyze market data and find technical patterns with a high success rate.  This ideas were then built into the latest advanced technology to provide personalized recommendations.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="faqAccuracy">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse4" aria-expanded="false" aria-controls="faqCollapse4">
                                    How accurate are the stock recommendations?
                                </button>
                            </h2>
                            <div id="faqCollapse4" class="accordion-collapse collapse" aria-labelledby="faqAccuracy" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                     No prediction is 100% accurate and there will be recommendations that fail.  Over time, we have found these insights to have a high success rate.  Ultimately, the decision to follow a recommendation is up to you as the trader and it is your responsibility to manage your own risk.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="faqAlerts">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse5" aria-expanded="false" aria-controls="faqCollapse4">
                                  Does Trade Social send alerts to buy or sell?
                              </button>
                          </h2>
                          <div id="faqCollapse5" class="accordion-collapse collapse" aria-labelledby="faqAlerts" data-bs-parent="#faqAccordion">
                              <div class="accordion-body">
                                   You can "follow" other traders on the platform as well as some of our automated agents that send out trade alerts.  
                                   It is best to view their profile and historical trades to understand their success rate as well as to understand their style of trading.  
                                   Not every style works for every trader. Some traders scalp 0dte contracts, while others swing longer term.  It is best to follow traders that trade similar to your personal preference, and have a high win rate.
                                   Once you receive a trade alert, it is up to you if you want to follow that trade or not.  It is vital that you understand the risk, and plan for a trade before following, as once you click the buy button that trade is yours.
                              </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="faqBeginners">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse6" aria-expanded="false" aria-controls="faqCollapse4">
                                  Is Trade Social suitable for beginner or struggling traders?
                              </button>
                          </h2>
                          <div id="faqCollapse6" class="accordion-collapse collapse" aria-labelledby="faqBeginners" data-bs-parent="#faqAccordion">
                              <div class="accordion-body">
                                   Yes!  We provide a plethora of trading education on our website to get started and learn various trading strategies.  
                                   The platform is designed to be user-friendly with reduced jargon, to provide useful and immediate information that can be acted upon.
                                   The Trade Social Analytics and Journaling have been designed to find patterns in your trading and highlight potential areas of improvement.
                              </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="faqDiscord">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse7" aria-expanded="false" aria-controls="faqCollapse4">
                                  Do you have a Discord or a Chat Room?
                              </button>
                          </h2>
                          <div id="faqCollapse7" class="accordion-collapse collapse" aria-labelledby="faqDiscord" data-bs-parent="#faqAccordion">
                              <div class="accordion-body">
                                   Yes!  Our team and our members hang out in Discord where we chat throughout the day to share ideas and what we are seeing with each other. It's a great place to learn and share with the community in realtime.
                              </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="faqLimitedAccess">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse8" aria-expanded="false" aria-controls="faqCollapse4">
                                  Do I have to become a member to use the site?
                              </button>
                          </h2>
                          <div id="faqCollapse8" class="accordion-collapse collapse" aria-labelledby="faqLimitedAccess" data-bs-parent="#faqAccordion">
                              <div class="accordion-body">
                                   No!  Many parts of the website are open to all without a membership, but in a limited manner.  We give you access to a limited number of stocks for free so you can try out our tools.  But you will need to become a member to gain full access.
                              </div>
                          </div>
                        </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

</section>
{{ end }}