{{ define "main" }}
  <section class="section blog-list pb-5">
    <div class="container p-0">
      
        
      <div class="row justify-content-center">
        {{ if eq .Params.nickname "Stocks List" }}
        <div class="row justify-content-center">
          <div class="mobile_nav row  bg-dark text-white d-md-none d-sm-block sticky-top" style="font-size: 0.8em;">
            <div class="col-12 p-0">
              <div class="nav-container">
                <ul class="nav nav-pills p-3 m-0  justify-content-evenly" id="tradeplanner-tab" role="tablist">
                  <li class="nav-item m-0" role="presentation">
                    <button class="nav-link text-white bg-dark active" data-bs-toggle="pill" data-bs-target="#pills-plan" type="button" role="tab" aria-controls="pills-plan" aria-selected="true">Daily Plan</button>
                  </li>
                  <li class="nav-item m-0" role="presentation">
                    <button class="nav-link text-white bg-dark" data-bs-toggle="pill" data-bs-target="#pills-earnings" type="button" role="tab" aria-controls="pills-earnings" aria-selected="false">Earnings</button>
                  </li>
                  <li class="nav-item m-0" role="presentation">
                    <button class="nav-link text-white bg-dark" data-bs-toggle="pill" data-bs-target="#pills-scanner" type="button" role="tab" aria-controls="pills-scanner" aria-selected="false">Reversals</button>
                  </li>
                  <li class="nav-item m-0" role="presentation">
                    <button class="nav-link text-white bg-dark" data-bs-toggle="pill" data-bs-target="#pills-charts" type="button" role="tab" aria-controls="pills-charts" aria-selected="false">Chart Setups</button>
                  </li>
                  <li class="nav-item m-0" role="presentation">
                    <button class="nav-link text-white bg-dark" data-bs-toggle="pill" data-bs-target="#pills-trades" type="button" role="tab" aria-controls="pills-trades" aria-selected="false">Trades on 𝕏</button>
                  </li>
                  <li class="nav-item m-0" role="presentation">
                    <button class="nav-link text-white bg-dark" data-bs-toggle="pill" data-bs-target="#pills-flow" type="button" role="tab" aria-controls="pills-flow" aria-selected="false">Flow Tweets</button>
                  </li>
                  <li class="nav-item m-0" role="presentation">
                    <button class="nav-link text-white bg-dark" data-bs-toggle="pill" data-bs-target="#pills-oi" type="button" role="tab" aria-controls="pills-oi" aria-selected="false">OI Tracker</button>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-12 pb-lg-2 p-0 plan-section content-section">
            {{ partial "shared/stock_ticker.html" }}
          </div>
          
          


          
          <div class="plan-section content-section row p-0 pb-lg-5">
            <div class="col-lg-5 col-12 p-0">
              {{ partial "shared/economic_calendar.html" }}
            </div>
            <div class="col-lg-7 col-12 p-0 px-lg-2">
            
              <div class="card  p-3">
                <div class="px-2 px-lg-0 fw-bold text-uppercase">SPY Market Pressure
                  <span id="marketPressureTooltip" style="background-color: lightgray; border-color: lightgray;" class="btn btn-secondary" data-toggle="tooltip" data-placement="auto" data-html="true" >
                    <i class="fa-solid fa-question"></i>
                  </span>
                </div>
                <div class="w-100 d-none"  id="spyGammaChart"></div>
                <input type="range" class="form-range" id="gex_slider" min="0" max="16" step="1" value="16">
              </div>
            </div>
          </div>

          <div class="plan-section content-section row p-0  bg-dark text-white" >
            <div class="card-body  h-100 w-100">
              <div class="tweet-header">
                  <div>
                      <strong>SPY Gamma Exposure</strong>
                  </div>
              </div>
              <div class="tweet-body">
              <p>
                  The market for <a href="/stocks/spy/" class="text-white">SPY</a> is currently attracted to <span class="largestGammaLevelText"></span>, and the overall sentiment is <span class="gammaOutlook"></span>.
              </p>
              <p>Bulls want to see <span class="bullRange"></span>, while Bears are betting on <span class="bearRange"></span>, potentially giving a <span class="moveAmount"></span> range.</p>

              <p class="d-none lowRangeDayWarning">Today may be a low range day for SPY, so take quick scalps, or you may want to go touch grass instead.</p>
              </div>
            </div>
          </div>

          <div class="row p-0 pt-lg-3 plan-section content-section">
            {{ partial "shared/tickers.html" . }}
          </div>


          <!-- <div class="plan-section content-section problem p-3" style="background-color: #313131;">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-12 justify-content-center">
                  <div class="card d-flex flex-row align-items-start border-0 p-5  justify-content-center  text-center"  style="background-color: #313131;">
                    <span class="card-text text-light fs-3">
                      
                      
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div> -->






          <div class="content-section row p-0">
            <div class="col-12">
              <div class="container p-0 m-0">
                <div class="blog-content">
                  <h2>Your Watchlists</h2>
                  <p>Note - These are not recommendations to buy or sell a security, and is not to be considered financial advise.</p>
                  <p>The intention of these ideas are to see potential setups.  No setup is guaranteed to work, and you must manage your own risk!</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row p-0">
            <div class="col-12 justify-content-center p-0">
              <div class="row">
                <div class="col-lg-4 col-sm-12 earnings-section content-section" >
                  <div class="card shadow" >
                    <div class="content-section card-title bg-success text-white fw-bold p-3">Earnings This Week</div>
                    <div id="WL_Earnings" class="post-column">

                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-sm-12 scanner-section content-section " >
                  <div class="card shadow" >
                    <div class="content-section card-title bg-secondary text-white fw-bold p-3">Daily Reversals</div>
                    <div id="WL_Reversals" class="post-column">
                      
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-sm-12 oi-section content-section ">
                  <div class="card shadow" >
                    <div class="content-section card-title bg-primary text-white fw-bold p-3">Options Flow Tracker</div>
                    <div id="WL_FlowTracker" class="post-column">
                    
                    </div>
                  </div>
                </div>

                
              </div>
            </div>
          </div>

          <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
          <script>
            $(document).ready(function() {
               userTrades = new Trades();
               userTrades.fetchEarningsCalendar();
               userTrades.fetchScreener();
               userTrades.fetchAllFlow();
            });
          </script>

        

          <div class="row content-section">
            <div class="col-12">
              <div class="container p-0 m-0">
                <div class="blog-content">
                  <h2>𝕏 StockTweets</h2>
                </div>
                <p>Note - These are not recommendations to buy or sell a security, not affiliated with Spyder Academy, and is not to be considered financial advise.</p>
                <p>These tweets represent stock ideas on 𝕏 by traders who share free and helpful information. <i class="fas fa-refresh p-3" onclick="refreshTweets()"></i></p>
              </div>
            </div>
          </div>

          <div class="row mb-5 p-0">
            <div class="col-12 justify-content-center p-0">
              <div class="row">
                <div class="col-lg-4 col-sm-12 trades-section content-section " >
                  <div class="card shadow" >
                    <div class="content-section card-title bg-warning text-black fw-bold p-3" >Trade Ideas</div>
                    <div id="X_TradeIdeas" class="stock_tweets post-column">

                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-sm-12 charts-section content-section ">
                  <div class="card shadow">
                    <div class="content-section card-title bg-primary text-white fw-bold p-3">Chart Setups</div>
                    <div id="X_Charts" class="stock_tweets post-column">
                    
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-sm-12 flow-section content-section " >
                  <div class="card shadow">
                    <div class="content-section card-title bg-secondary text-white fw-bold p-3">Options Flow</div>
                    <div id="X_OptionsFlow" class="stock_tweets post-column">
                      
                    </div>
                  </div>
                </div>
                
                <script>
                  $(document).ready(function() {
                    userTrades = new Trades();
                    userTrades.fetchXPosts();
                  });

                  function refreshTweets(){
                    userTrades = new Trades();
                    userTrades.fetchXPosts();
                  }
                </script>
              </div>
            </div>
          </div>

          

        </div>
        {{ end }}

        <div class="row justify-content-center">
          {{ if in (slice "education" "tags" "courses") .Section }}
            {{ partial "shared/tags.html" . }}
          {{ end }}

          <div class="col-12 col-xl-6">
            {{ with .Title }}
              <h1 class="fs-1 fw-bold text-center text-primary pb-3">{{ . }}</h1>
            {{ end }}
            {{ with .Params.description }}
              <p class="text-black-61 text-center pb-3">{{ . }}</p>
            {{ end }}
          </div>
        </div>
      </div>
     

     
      {{ if ne .Section "education" }}
      <div class="row g-4 p-2">
          {{ range (.Paginate .RegularPages).Pages.ByDate }}
            {{ if ne .Layout "stocks" }}
            <div class="col-12 col-md-6 col-lg-4">
              <a class="card shadow border-0 p-4 text-decoration-none h-100" style="border-radius: 15px;" href="{{ .Permalink }}">
                <div class="aspect-ratio-full">
                      {{ with .Resources.GetMatch (printf "**/%s" "{cover.*}") }}
                          {{ with .Resize "1000x" }}
                              <img class="" src="{{ .RelPermalink }}" alt="{{ .Title }}" width="{{ .Width }}" height="{{ .Height }}">
                          {{ end }} 
                      {{ end }}
                </div>
                <div class="card-body">
                  <h5 class="card-title fw-semibold">{{ .Title }}</h5>
                  {{ if eq .Section "education" }}<p class="card-text text-danger">By {{ .Param "author" | plainify }}</p>{{ end }}
                  {{ if eq .Section "courses" }}<p class="card-text text-danger">{{ .Param "level" | plainify }}</p>{{ end }}
                  <p class="card-text text-black-61">{{ .Summary }}</p>
                </div>
              </a>
            </div>
          {{ end }}
        {{ end }}
      </div>
    {{ end }}

    <div class="row pb-5 p-2">
      {{ template "_internal/pagination.html" . }}
    </div>

    
    <div class="row pb-5 p-2">
      <div class="col-12 d-flex justify-content-center">
        <div class="blog-content fs-5 ">
          {{ .Content }}
        </div>
      </div>
    </div>  
    
    <div class="col-12 justify-content-center text-center p-2">
        {{ range (.Paginate .RegularPages).Pages.ByDate }}
          {{ if eq .Layout "stocks" }}
            <a class="text-decoration-none text-black-50" href="{{ .Permalink }}" title="{{ .Title }}">{{ .Param "ticker" }}</a>
          {{ end }}
        {{ end }}

    </div>

  </div>

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
        $(document).ready(
          function() {
            $('#marketPressureTooltip').tooltip({
                title: "<h6>MARKET PRESSURE</h6>It's a measure of how much buying or selling pressure there is on a stock due to options trading, becoming a magnet for where the price may move toward.<br/><br/>Positive net gamma means traders might buy more stock as the price goes up.<br/><br/>Negative net gamma means they might sell more as the price goes down.",
                html: true
            });

            $('#economicCalendarTooltip').tooltip({
                title: "<h6>ECONOMIC CALENDAR</h6>This calendar shows important financial events that can affect the stock market. <br/><br/>High impact events, like interest rate decisions or inflation reports, can cause big price movements. <br/><br/>Keep an eye on these to stay informed and make better trading decisions.",
                html: true
            });

            queryString = window.location.search;

            // Check if the query string contains the "tvwidgetsymbol" parameter
            if (queryString.includes("tvwidgetsymbol")) {
                // Extract the value of the "tvwidgetsymbol" parameter from the query string
                symbol = queryString.slice(1).split("&")[0].split("=")[1]
                symbol = symbol.split("%3A")[1]
                window.location = "/stocks/" + symbol.toLowerCase()
            }

            {{ if eq .Params.nickname "Stocks List" }}
              userTrades = new Trades();
              userTrades.fetchGEXByStrike("SPY", "#spyGammaChart", idx=0, historicals=true);
              var range = userTrades.fetchIVData("SPY");

              // Get a reference to the range input element
              const slider = document.getElementById('gex_slider');

              // Add an event listener to detect changes in the range input value
              slider.addEventListener('input', function() {
                  // Calculate the index of the snapshot to display based on the range input value
                  const selectedIndex = parseInt(slider.max) - parseInt(slider.value);

                  // Retrieve the corresponding snapshot data from your dataset
                  userTrades.fetchGEXByStrike("SPY", "#spyGammaChart", idx=selectedIndex, historicals=true);
              });

            {{ end }}
          }
        );
    </script>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        function updateSections() {
          // Get current window width
          const isMobile = window.innerWidth < 768;
          
          // Hide all sections for mobile
          if (isMobile){
            document.querySelectorAll('.content-section').forEach(section => {
              section.style.display = 'none';
            });
          }
        

          if (isMobile) {
            // Show the active section
            const activeTab = document.querySelector('#tradeplanner-tab .nav-link.active');
            if (activeTab) {
              const target = activeTab.getAttribute('data-bs-target').replace('#pills-', '');
              $(`.${target}-section`).show()
              document.querySelector(`.${target}-section`).scrollIntoView({ behavior: 'smooth' });

            }
          }
        }

        

        // Add event listener for tab clicks
        // console.log("trying to add click events")
        document.querySelectorAll('#tradeplanner-tab .nav-link').forEach(tab => {
          tab.addEventListener('shown.bs.tab', function(event) {
            updateSections();
          });
        });

        // Add event listener for window resize
        window.addEventListener('resize', function() {
          updateSections();
        });

        // Initial call to update sections
        updateSections();
      });

    </script>

  </section>
{{ end }}


