{{ define "main" }}
  <section class="section blog-list py-5">
    <div class="container">
      
        
      <div class="row justify-content-center">
        {{ if eq .Params.nickname "Stocks List" }}
        <div class="row justify-content-center">
          <div class="col-12 pb-5">
            {{ partial "shared/stock_ticker.html" }}
          </div>
          <div class="row">
            {{ partial "shared/tickers.html" }}
          </div>
          <div class="row pb-5">
            <div class="col-lg-5 col-12">
              <div class="blog-content ">
                  <h2>Economic Calendar</h2>
              </div>
              {{ partial "shared/economic_calendar.html" }}
            </div>
            <div class="col-lg-7 col-12">
              <div class="blog-content ">
                <h2>Market Pressure</h2>
              </div>
              <div class="card shadow p-3 mb-5">
                <div class="w-100 d-none"  id="spyGammaChart"></div>
                <input type="range" class="form-range" id="gex_slider" min="0" max="16" step="1" value="16">
              </div>
            </div>
          </div>

          <div class="problem p-3 mb-5" style="background-color: #313131;">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-12 justify-content-center">
                  <div class="card d-flex flex-row align-items-start border-0 p-5  justify-content-center  text-center"  style="background-color: #313131;">
                    <span class="card-text text-light fs-3">
                      The largest Gamma Level on SPY is currently at <span class="largestGammaLevelText"></span>, with net <span class="gammaOutlook"></span> positioning.
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="row">
            <div class="col-12">
              <div class="container p-0 m-0">
                <div class="blog-content">
                  <h2>Your Watchlists</h2>
                </div>
                
              </div>
            </div>
          </div>

          <div class="row mb-5 shadow" style="border-radius: 15px;">
            <div class="col-12 p-0 justify-content-center">
              <ul class="nav nav-pills p-3 m-0" id="pills-tab" role="tablist">
                <li class="nav-item m-0" role="presentation">
                  <button class="nav-link active" id="pills-earnings-tab" data-bs-toggle="pill" data-bs-target="#pills-earnings" type="button" role="tab" aria-controls="pills-earnings" aria-selected="true">Upcoming Earnings</button>
                </li>
                <li class="nav-item m-0" role="presentation">
                  <button class="nav-link" id="pills-ivflush-tab" data-bs-toggle="pill" data-bs-target="#pills-ivflush" type="button" role="tab" aria-controls="pills-ivflush" aria-selected="true">IV Flush</button>
                </li>
                <li class="nav-item m-0" role="presentation">
                  <button class="nav-link" id="pills-dojiwatchlist-tab" data-bs-toggle="pill" data-bs-target="#pills-dojiwatchlist" type="button" role="tab" aria-controls="pills-dojiwatchlist" aria-selected="false">Daily Reversals</button>
                </li>
                <li class="nav-item m-0" role="presentation">
                  <button class="nav-link" id="pills-news-tab" data-bs-toggle="pill" data-bs-target="#pills-news" type="button" role="tab" aria-controls="pills-news" aria-selected="false"></button>
                </li>
                <li class="nav-item m-0" role="presentation">
                  <button class="nav-link" id="pills-signals-tab" data-bs-toggle="pill" data-bs-target="#pills-signals" type="button" role="tab" aria-controls="pills-signals" aria-selected="false"></button>
                </li>
              </ul>
            </div>
            <div class="col-12 p-0 justify-content-center">
              <div class="tab-content " id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-earnings" role="tabpanel" aria-labelledby="pills-earnings-tab">
                  <div class="mb-3" id="earningsCalendar">
                    <div class="card  p-3">Loading...</div>
                  </div>
                  
                  <script>
                    $(document).ready(function() {
                       userTrades = new Trades();
                       userTrades.fetchEarningsCalendar(2);
                    });
                 </script>
                </div>
                <div class="tab-pane fade" id="pills-ivflush" role="tabpanel" aria-labelledby="pills-ivflush-tab">
                  <div class="p-2"><a href="/tools/earnings-calendar">Learn about the IV Flush</a></div>
                  <div class="mb-3" id="ivflushCalendar">
                    <div class="card  p-3">Loading...</div>
                  </div>
                </div>
                <div class="tab-pane fade" id="pills-dojiwatchlist" role="tabpanel" aria-labelledby="pills-dojiwatchlist-tab">
                  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>

                  <div class="mb-3" id="reversalsWatchlist">
                    <div class="card  p-3">Loading...</div>
                  </div>

                  <script>
                    $(document).ready(function() {
                       userTrades = new Trades();
                       userTrades.fetchScreener();
                    });
                 </script>
                </div>
                
              </div>
            </div>
          </div>

        

        

          <div class="row pb-5">
            <div class="col-12">
              <div class="container p-0 m-0">
                <div class="blog-content ">
                  <h2>Trade Ideas From 𝕏</h2>
                  <p>Make sure you are logged into 𝕏 to see recent posts.</p>
                </div>
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-lg-4 col-12 p-0 m-0 justify-content-center" >
                      <div class="shadow m-3" style="border-radius: 15px">
                        <a class="twitter-timeline" height="800" href="https://twitter.com/TrendSpider?ref_src=twsrc%5Etfw">Posts from @TrendSpider</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                      </div>
                    </div>
                    <div class="col-lg-4 col-12  p-0 m-0 justify-content-center">
                      <div class="shadow m-3" style="border-radius: 15px">
                        <a class="twitter-timeline" height="800" href="https://twitter.com/JaviCharts?ref_src=twsrc%5Etfw">Posts from @JaviCharts</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                      </div>
                    </div>
                    <div class="col-lg-4 col-12  p-0 m-0 justify-content-center" >
                      <div class="shadow m-3" style="border-radius: 15px">
                        <a class="twitter-timeline" height="800" href="https://twitter.com/TLAMB91?ref_src=twsrc%5Etfw">Flow from @TLAMB</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>

        </div>
        {{ end }}

        <div class="col-12 col-xl-6">
          {{ with .Title }}
            <h1 class="fs-1 fw-bold text-center text-primary pb-3">{{ . }}</h1>
          {{ end }}
          {{ with .Params.description }}
            <p class="text-black-61 text-center pb-3">{{ . }}</p>
          {{ end }}
        </div>
      </div>

      {{ if in (slice "education" "tags") .Section }}
        {{ partial "shared/tags.html" }}
      {{ end }}

     
      {{ if ne .Section "education" }}
        <div class="row g-4 pb-5">
          {{ range (.Paginate .RegularPages).Pages.ByDate }}


          {{ if eq .Layout "stocks" }}
            {{ if ne .Params.disableListPage true }}

            
            {{ end }}
          {{ else }} 
            <div class="col-12 col-md-6 col-lg-4">
              <a class="card shadow border-0 p-4 text-decoration-none h-100" style="border-radius: 15px;" href="{{ .Permalink }}">
                <div class="aspect-ratio-full">
                      {{ with .Resources.GetMatch (printf "**/%s" "{cover.*}") }}
                          {{ with .Resize "1000x" }}
                              <img class="" src="{{ .RelPermalink }}" alt="{{ .Title }}" width="{{ .Width }}" height="{{ .Height }}">
                          {{ end }} 
                      {{ end }}
                </div>
                <div class="card-body">
                  <h5 class="card-title fw-semibold">{{ .Title }}</h5>
                  {{ if eq .Section "education" }}<p class="card-text text-danger">By {{ .Param "author" | plainify }}</p>{{ end }}
                  {{ if eq .Section "courses" }}<p class="card-text text-danger">{{ .Param "level" | plainify }}</p>{{ end }}
                  <p class="card-text text-black-61">{{ .Summary }}</p>
                </div>
              </a>
            </div>
          {{ end }}
        {{ end }}
      </div>
    {{ end }}

    <div class="row pb-5">
      {{ template "_internal/pagination.html" . }}
    </div>

    
    <div class="row pb-5">
      <div class="col-12 d-flex justify-content-center">
        <div class="blog-content fs-5 ">
          {{ .Content }}
        </div>
      </div>
    </div>    
    </div>

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
        $(document).ready(
          function() {
            queryString = window.location.search;

            // Check if the query string contains the "tvwidgetsymbol" parameter
            if (queryString.includes("tvwidgetsymbol")) {
                // Extract the value of the "tvwidgetsymbol" parameter from the query string
                symbol = queryString.slice(1).split("&")[0].split("=")[1]
                symbol = symbol.split("%3A")[1]
                window.location = "/stocks/" + symbol.toLowerCase()
            }

            
            userTrades = new Trades();
            userTrades.fetchGEXByStrike("SPY", "#spyGammaChart", idx=0, historicals=true);

            // Get a reference to the range input element
            const slider = document.getElementById('gex_slider');

            // Add an event listener to detect changes in the range input value
            slider.addEventListener('input', function() {
                // Calculate the index of the snapshot to display based on the range input value
                const selectedIndex = parseInt(slider.max) - parseInt(slider.value);

                // Retrieve the corresponding snapshot data from your dataset
                userTrades.fetchGEXByStrike("SPY", "#spyGammaChart", idx=selectedIndex, historicals=true);
            });
          }
        );
    </script>

  </section>
{{ end }}


