{{ define "main" }}
  <section class="section blog-single py-5">
    <div class="container">

      
     
     

    <div class="container">
        <div class="card shadow border-0 my-1" style="border-radius: 15px; ">
            <div class="row mx-0 my-1 sparkboxes">
                <div class="col-lg-6 col-sm-12">
                    <h1 class="m-3 mb-0" id="titleUser">SPYDER ACADEMY</h1>
                    <div class="container my-0">
                        <div class="row">
                            <div class="col-12 m-0">
                                <img class="tradeLogo" src="/images/blacklogo.png" title="All Mentors" style="width: 2em; border-radius: 1em;" onclick="selectInstructor('ALL', 'SPYDER ACADEMY');" />
                                <img class="tradeLogo" src="/images/teachers-sith.png" title="Sith" style="width: 2em; border-radius: 1em;" onclick="selectInstructor(530657179183874070, 'SITH')"  />
                                <img class="tradeLogo" src="/images/teachers-linksnipes.png" title="Link Snipes" style="width: 2em; border-radius: 1em;" onclick="selectInstructor(693307698229280818, 'LINK SNIPES')" />
                                <img class="tradeLogo" src="/images/teachers-gobi.png" title="Gobi" style="width: 2em; border-radius: 1em;" onclick="selectInstructor(572158547597590538, 'GOBI')"/>
                                <img class="tradeLogo" src="/images/teachers-pauldozer.png" title="Pauldozer" style="width: 2em; border-radius: 1em;" onclick="selectInstructor(751486945049444435, 'PAULDOZER')"  />
                                <img class="tradeLogo" src="/images/teachers-cash.png" title="Cash" style="width: 2em; border-radius: 1em;" onclick="selectInstructor(667468315668774944, 'CASH MONEY TRADES')"/>
                                <img class="tradeLogo" src="/images/teachers-woody.png" title="Woody" style="width: 2em; border-radius: 1em;" onclick="selectInstructor(828445309885218886, 'WOODY')" />
                                <img class="tradeLogo" src="/images/teachers-ape.png" title="Anonymous Ape" style="width: 2em; border-radius: 1em;" onclick="selectInstructor(905933963971924038, 'ANONYMOUS APE')" />
                                <img class="tradeLogo" src="/images/teachers-u2.png" title="U2 Hibby" style="width: 2em; border-radius: 1em;" onclick="selectInstructor(974635070914719745, 'U2 HIBBY')" />
                                <div class="btn btn-secondary" id="loginButton" class="text-decoration-none text-light">LOG IN</div>
                                <div class="btn btn-secondary" id="btnSignOut" onclick="signOutUser();"  class="text-decoration-none text-light" style="display:none">SIGN OUT</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-2 col-sm-12 my-1">
                    <div class="card  border-1 p-3" style="background-color: #FFF; ">
                        <div class="details">
                            <p class="small p-0 m-0">WIN RATE</p>
                            <h4 id="winRate"></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-12 my-1">
                    <div class="card  border-1 p-3" style="background-color: #FFF; ">
                        <div class="details">
                            <p class="small p-0 m-0">AVG GAIN (<span id="numTrades"></span>)</p>
                            <h4 id="avgGain"></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-12 my-1">
                    <div class="card  border-1 p-3" style="background-color: #FFF; ">
                        <div class="details">
                            <p class="small p-0 m-0">BAGS</p>
                            <h4 id="profitFactor"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    


    <div class="container">
        <div class="row" id="memberTrades">
            <div class="col-lg-12 col-sm-12 my-1">
                <div class="card shadow border-0 p-3" style="border-radius: 15px; ">
                    <div class="row membersOnlyContent" id="tradeRecap">
                        <!-- trade-card-template gets pasted into here -->
                    </div>
                    <div class="membersOnlyFiller card shadow border-0 p-3 justify-content-center" style="border-radius: 15px; display: none">
                        <img src="/images/membersonly.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="tradeAnalytics" style="display: none">
            
            <div class="col-lg-6 col-sm-12 my-1">
                <div class="card shadow border-0 p-3" style="border-radius: 15px; ">
                    <div  id="tradeHeatmap"></div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-12 my-1">
                <div class="card shadow border-0 p-3" style="border-radius: 15px; ">
                    <div id="tradeScoreboard"></div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-12 my-1">
                <div class="card shadow border-0 p-3" style="border-radius: 15px; ">
                    <div id="tradeGainsBubble"></div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-12 my-1">
                <div class="card shadow border-0 p-3" style="border-radius: 15px; ">
                    <div  id="tradeDrawdowns"></div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-12 my-1">
                <div class="card shadow border-0 p-3" style="border-radius: 15px; ">
                    <div  id="tradeGainsDOWRadar"></div>
                </div>
            </div>

           

            <div class="col-lg-6 col-sm-12 my-1">
                <div class="card shadow border-0 p-3" style="border-radius: 15px; ">
                    <div class="membersOnlyFiller card shadow border-0 p-3 justify-content-center" style="border-radius: 15px; display: none">
                        <img src="/images/membersonly.png" />
                    </div>
                    <div class="membersOnlyContent" id="tradeTrims"></div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-12 my-1">
                <div class="card shadow border-0 p-3" style="border-radius: 15px; ">

                    <div class="membersAI card shadow border-0 p-3 justify-content-center" style="border-radius: 15px; display: none">
                        <img src="/images/memberAI.png" />
                    </div>
                    <div class="membersOnlyContent" id="aiRecommendations">
                        <h4>SPYDER AI</h4>
 
                    </div>
                    <div class="ai-template card border-1 p-3 my-2 justify-content-center d-none" style="border-radius: 15px; "></div>
                </div>

            </div>
        </div>
        
    </div>
  

    <div class="col-lg-6 col-sm-12 trade-card-template d-none">
        <div class="card  border-1  mx-0 my-1" style="border-radius: 1em;">
            <div class="card-body p-1 tradeRow" onclick="selectContract(this);">
                <div class="container p-0">
                    <div class="row">
                        <div class="col-2 m-0">
                            <img class="tradeLogo" src="/images/logos/TSLA.png" style="width: 3em; border-radius: 2em;" />
                        </div>
                        <div class="col-10 px-3">
                            <div class="row">
                                <div class="col-8 small lh-1 fw-light text-uppercase traderName">Trader Name</div>
                                <div class="col-4"></div>
                            </div>
                            <div class="row">
                                <div class="col-8 fs-3 lh-1 tradeContract">Contract</div>
                                <div class="col-4 fs-3 lh-1 tradeGain text-end">Gains %</div>
                            </div>
                            <div class="row">
                                <div class="col-8  small lh-1 tradeNotes" style="overflow: hidden; text-overflow: ellipses; white-space: nowrap;">Trade Notes</div>
                                <div class="col-4"></div>
                            </div>
                        </div>
                    </div>
                    <div class="membersOnlyContent">
                        <div class="tvChartHeader m-4 card shadow border-0 d-none" style="border-radius: 1em;"> </div>
                        <div class="entryExitNotes small lh-1 m-4 p-3 card shadow border-0 d-none" style="border-radius: 1em; background-color: #BFE1CF;"></div>
                    </div>
                    <div class="membersOnlyFiller card shadow border-0 p-3 justify-content-center" style="border-radius: 15px; display: none"> <img src="/images/memberRecaps.png" /> </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container py-0" id="popupDialogs">
        <!-- Each Instructor -->
        <div class="d-flex flex-row flex-nowrap pb-5 overflow-auto text-center" >
            <div id="loginModal" class="modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Log In</h5>
                            <button type="button" class="close" onclick="hideLogin();">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div id="loginErrorMessage" class="alert alert-danger small" role="alert" style="display: none">
                                    Invalid Credentials!
                                  </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="txtEmail" placeholder="Enter your email">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="txtPassword" placeholder="Enter your password">
                                </div>
                                <div class="form-group">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="button" class="btn btn-secondary" id="submitLogin">Log In</button>
                            <p class="small">
                                <a href="/#services">Not a member? Sign up here!</a><br/>
                                <a href="#" onclick="sendPasswordResetEmail()" class="text-decoration-none">Forgot Password</a> | 
                                <a href="#" onclick="sendPasswordResetEmail()" class="text-decoration-none">First Time Login</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="addTradeModal" class="modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Manual Trade Entry</h5>
                            <button type="button" class="close" onclick="hideTradeEntry();">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div id="tradeErrorMessage" class="alert alert-danger small" role="alert" style="display: none">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtTradeContract" placeholder="TSLA 230908C300">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtTradeEntryDate" placeholder="Entry Date">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtTradeEntryTime" placeholder="Entry Time">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtTradeNumContracts" placeholder="Num Contracts">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtTradePrice" placeholder="Price">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtTradeNotes" placeholder="Notes">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="button" class="btn btn-secondary" onclick="addManualTrade()">Save</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="executeTradeModal" class="modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add Trade Execution</h5>
                            <button type="button" class="close" onclick="hideTradeExecution();">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div id="tradeExecutionErrorMessage" class="alert alert-danger small" role="alert" style="display: none">
                                </div>
                                <div class="form-group">
                                    <input type="hidden" class="form-control" id="txtTradeExecutionID" value="">

                                    <select class="form-control" id="txtTradeExecutionAction" value="TRIM">
                                        <option>TRIM</option>
                                        <option>AVG IN</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtTradeExecutionDate" placeholder="Date">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtTradeExecutionTime" placeholder="Time">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtTradeExecutionContracts" placeholder="Num Contracts">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtTradeExecutionPrice" placeholder="Price">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtTradeExecutionNotes" placeholder="Notes">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="button" class="btn btn-primary" onclick="deleteTrade()"><i class="fa fa-trash"></i> Delete</button>
                            <button type="button" class="btn btn-secondary" onclick="addExecutionTrade()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="importTradeModal" class="modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Import Trade Entry</h5>
                            <button type="button" class="close" onclick="hideTradeImport();">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div id="importTradeErrorMessage" class="alert alert-danger small" role="alert" style="display: none">
                                </div>
                                <div class="form-group">
                                    <select class="form-control" id="txtBrokerage" value="">
                                        <option>E*TRADE</option>
                                        <option>TD AMERITRADE</option>
                                        <option>WEBULL</option>
                                        <option>ROBINHOOD</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <textarea rows="6" class="form-control" id="txtTradeCSV" placeholder="Paste Trade Import Data" ></textarea>
                                </div>
                                
                            </form>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="button" class="btn btn-secondary" onclick="importTrades()">Import Trades</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
          


    <!-- Load Shared JS -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

	<script type="text/javascript" src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>

    <script>
       function showLogin() {
            $('#loginModal').show();
       }

       function hideLogin(){
            $('#loginErrorMessage').hide()
            $('#loginModal').hide();
       }

       function showManualTradeModal() {
            // Get the current date and time
            var currentDate = new Date();
            var currentDateString = currentDate.toISOString().split('T')[0]; // Get the date in "YYYY-MM-DD" format
            var currentTimeString = currentDate.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false });

            $("#txtTradeEntryDate").val(currentDateString);
            $("#txtTradeEntryTime").val(currentTimeString);

            $('#addTradeModal').show();
       }

       function hideTradeEntry(){
            $('#tradeErrorMessage').hide()
            $('#addTradeModal').hide();
       }

       function addManualTrade(){
            var success = userTrades.addManualTrade();
            if (success){
                hideTradeEntry();
                userTrades.updateCharts();
            }
            else{
                $('#tradeErrorMessage').show()
            }
       }

       function showNewTradeExecution(id, contract){
            // Get the current date and time
            var currentDate = new Date();
            var currentDateString = currentDate.toISOString().split('T')[0]; // Get the date in "YYYY-MM-DD" format
            var currentTimeString = currentDate.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false });

            $('#executeTradeModal .modal-title').text(contract);
            $("#txtTradeExecutionID").val(id);
            $("#txtTradeExecutionDate").val(currentDateString);
            $("#txtTradeExecutionTime").val(currentTimeString);

            $('#executeTradeModal').show();
       }

       function hideTradeExecution(){
            $('#tradeExecutionErrorMessage').hide()
            $('#executeTradeModal').hide();
       }


       function showImportTradeModal() {
            $('#importTradeModal').show();
       }

       async function addExecutionTrade(){
            var success = await userTrades.addExecutionTrade();
            if (success){
                hideTradeExecution();
                userTrades.updateCharts();
            }
            else{
                $('#tradeExecutionErrorMessage').show()
            }
       }

       async function deleteTrade(){
            var success = await userTrades.deleteTrade();
            if (success){
                hideTradeExecution();
                userTrades.updateCharts();
            }
            else{
                $('#tradeExecutionErrorMessage').show()
            }
       }

         // Sign in with email and password when the submit button is clicked
        const submitLogin = document.getElementById('submitLogin');
        submitLogin.addEventListener('click', () => {
            var username = $("#txtEmail").val();
            var pwd = $("#txtPassword").val();

            firebase.auth().signInWithEmailAndPassword(username, pwd)
                .then((userCredential) => {
                    // Handle successful login
                    const user = userCredential.user;
                    console.log("User logged in:", user);
                    // Hide the modal
                    const loginModal = document.getElementById('loginModal');
                    loginModal.style.display = 'none';
                    $("#loginErrorMessage").hide();
                })
                .catch((error) => {
                    // Handle login error
                    const errorCode = error.code;
                    const errorMessage = error.message;

                     // Display an error message to the user
                    var displayErrorMessage = "Log in failed"
                    if (errorCode == "auth/user-not-found"){
                        displayErrorMessage = "Please use the email address used when subscribing in whop.com"
                    }
                    else if (errorCode == "auth/invalid-email"){
                        displayErrorMessage = "Please enter a valid email address."
                    }
                    else if (errorCode == "auth/missing-password"){
                        displayErrorMessage = "Please enter a password."
                    }
                    else if (errorCode == "auth/wrong-password"){
                        displayErrorMessage = "Please enter a valid password."
                    }

                    $('#loginErrorMessage').text(displayErrorMessage);
                    $('#loginErrorMessage').show();

                    console.error("Login error:", errorCode, errorMessage);
                });
        });


        // Sign out
        function signOutUser() {
            firebase.auth().signOut()
                .then(() => {
                // Sign-out successful
                    console.log("User signed out");
                })
                .catch((error) => {
                // An error occurred
                    console.error("Sign-out error:", error);
                });
        }


        // Firebase configuration
        function selectInstructor(userid, title){
            if (userid == "ALL")
                userid = null;

            $('#titleUser').text(title);

            userTrades.selectUser(userid);
            userTrades.updateCharts();
        }


        function selectContract(el){
            if (firebase.auth().currentUser){
                userTrades.renderTVChart($(el), $(el).attr("tradeid"));
                $(el).find(".membersOnlyContent").show();
                $(el).find(".membersOnlyFiller").hide();
            }
            else{
                $(el).find(".membersOnlyContent").hide();
                $(el).find(".membersOnlyFiller").show();
            }
        }

        let userTrades = null;

        $(document).ready(function() {
            userTrades = new Trades();

            firebase.auth().onAuthStateChanged((user) => {
                if (user) {
                    // User is logged in, retrieve the email address
                    const email = user.email;
                    // Display the welcome message with the user's email
                    nickname = email.split("@")[0].toUpperCase()
                    // $("#loginButton").text(nickname)
                    // $("#loginButton").on("click", () => {
                    //     selectInstructor(user.uid, nickname.toUpperCase())
                    // });
                    $("#loginButton").hide();
                    $("#btnSignOut").show();
                    $(".mentor").show();
                    selectInstructor("ALL", "SPYDER ACADEMY");


                } else {
                    // User is not logged in
                    console.log("not logged in")
                    $("#loginButton").show();
                    $("#loginButton").text("LOG IN")
                    $("#loginButton").on("click", () => {
                        showLogin()
                    });
                    $("#btnSignOut").hide();
                    $(".mentor").hide();
                    selectInstructor("ALL", "SPYDER ACADEMY");

                }
            });

            function signOut(){
                firebase.auth().signOut()
                    .then(() => {
                    // Sign-out successful
                        console.log("User signed out");
                    })
                    .catch((error) => {
                    // An error occurred
                        console.error("Sign-out error:", error);
                    });
            }
        });

       
    </script>

  </section>
{{ end }}
