{{ define "main" }}
  <section class="section blog-single py-5">
    <div class="container">
      {{ partial "shared/tags.html" }}

      <div class="row justify-content-center pb-5">
        <div class="col-12">
          {{ with .Title }}
            <h2 class="display-1 fw-bold text-center text-primary pb-3">{{ . }}</h2>
          {{ end }}
          {{ with .Params.description }}
            <p class="text-black-61 text-center pb-3">{{ . }}</p>
          {{ end }}
        </div>
      </div>
      <div class="row pb-5">
        <div class="col-12 d-flex justify-content-center">
          <div class="blog-content fs-5">
            {{ .Content }}
          </div>
        </div>
      </div>
      <div class="row pb-5">
        <div class="col-12 row justify-content-center">
          <div class="blog-content fs-5">
            <div class="card shadow border-0" style="border-radius: 15px; background-image: url(/images/banner.png);">
              <div class="card-body">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-lg-9 col-sm-12"><p class="card-text text-white px-5 text-center" >LEARN AND EARN WITH SPYDER ACADEMY</p></div>
                    <div class="col-lg-3 col-sm-12"> <a class="btn btn-primary px-4 d-flex justify-content-center" href="https://whop.com/checkout/plan_n9NbbxfFeIW95/" target="_blank">FREE TRIAL</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
