{{ define "main" }}


  <section class="section blog-single py-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 pb-5">
          {{ partial "shared/stock_ticker.html" }}
        </div>
      </div>
      
      <div class="row justify-content-center pb-0">
        
        <div class="col-12">
          {{ with .Title }}
            <h1 class="display-1 fw-bold text-center text-primary pb-3">{{ . }}</h1>
          {{ end }}
          {{ with .Params.description }}
            <p class="text-black-61 text-center pb-3">{{ . }}</p>
          {{ end }}


        </div>
      </div>

      <div class="row justify-content-center pb-5">
        <div class="col-12 d-flex justify-content-center">
          {{ partial "shared/share-buttons" . }}
        </div>

      </div>

      <div class="row">
        <div class="col-12 p-0">
          <!-- TradingView Widget BEGIN -->
          <div class="card shadow border-0 p-0 mb-3 d-flex tradingview-widget-container" style="border-radius: 15px;">
            <div class="tradingview-widget-container__widget"></div>
            <script type="application/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js" async>
              {
                "symbol" : "{{  .Page.Params.ticker }}",
                "width" : "100%",
                "locale" : "en",
                "colorTheme" : "light",
                "isTransparent" : false
              }
            </script>
          </div>
          <!-- TradingView Widget END -->
        </div>
      </div>

      

    <div class="row justify-content-center pb-5">
      <div class="col-12">
        <div class="blog-content ">
          <h2>Gamma Exposure</h2>
        </div>
        <div class="card shadow p-3 mb-5">
          <div class="w-100 d-none"  id="gammaChart"></div>
          <input type="range" class="form-range" id="gex_slider" min="0" max="16" step="1" value="16">
        </div>
      </div>

      <div class="col-12">
        <div class="card shadow p-3 m-0">
          <div class="w-100 d-none"  id="gammaChartOverlay"></div>
        </div>
      </div>
    </div>  

    <div class="row justify-content-center pb-5">
      <div class="col-lg-6 col-12 justify-content-center">
        <div class="card shadow p-3 mb-5 justify-content-center d-none" id="iv_results" style="border-radius: 15px; background-color: #BFE1CF; ">
          <div class="row">
            <div class="col-4">
                <div id="movePercentTitle">Expected Move</div>
                <span class="movePercent"></span> (<span class="moveAmount"> </span>)
            </div>
            <div class="col-4">
                <div id="closePriceTitle">Last Close Price</div>
                <span class="closePrice"></span>
            </div>
            <div class="col-4">
                <div id="ivRangeTitle">Expectations</div>
                <span class="ivRange"></span>
            </div>
          </div>
      </div>
    </div>
  </div>
      
    <section class="section problem p-3 " style="background-color: #313131; margin-left: calc(50% - 50vw); margin-right: calc(50% - 50vw);">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 justify-content-center">
            <div class="card d-flex flex-row align-items-start border-0 p-5  justify-content-center  text-center"  style="background-color: #313131;">
              <span class="card-text text-light fs-3">
                The largest Gamma Level on {{ .Page.Params.ticker }} is currently at <span class="largestGammaLevelText"></span>, with Net <span class="gammaOutlook"></span> positioning.<br/>
                Bulls want to see <span class="bullRange"></span>, while Bears are betting on <span class="bearRange"></span>, offering a <span class="moveAmount"></span> range.<br/> 
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>

     <div class="row pb-5">
      <div class="col-12 justify-content-center">
        <div class="fs-5">
          {{ partial "shared/stock-widgets" (dict "symbol" .Page.Params.ticker "Site" .Site) }}
        </div>
      </div>
    </div>
     
     
     <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
     <script>
       $(document).ready(function() {
           userTrades = new Trades();
           
           var ticker = {{ .Page.Params.ticker }};
           userTrades.fetchGEXByStrike(ticker, "#gammaChart", idx=0, historicals = true);

           // Get a reference to the range input element
           const slider = document.getElementById('gex_slider');

          // Add an event listener to detect changes in the range input value
          slider.addEventListener('input', function() {
              // Calculate the index of the snapshot to display based on the range input value
              const selectedIndex = parseInt(slider.max) - parseInt(slider.value);

              // Retrieve the corresponding snapshot data from your dataset
              userTrades.fetchGEXByStrike(ticker, "#gammaChart", idx=selectedIndex, historicals=true);
          });

          // Use an async IIFE (Immediately Invoked Function Expression) to use await
          (async function() {
              try {
                  var range = await userTrades.fetchIVData(ticker);
                  if (range) {
                      const expectedMove = range;
                      userTrades.fetchGEXOverlay(ticker, expectedMove);
                  } else {
                      console.error('Failed to fetch IV data.');
                  }
              } catch (error) {
                  console.error('Error fetching IV data:', error);
              }
          })();
        });
     </script>

      <div class="row pb-5">
        <div class="col-12 d-flex justify-content-center">
          <div class="blog-content fs-5">
            {{ .Content }}
          </div>
        </div>
      </div>

    {{ partial "shared/signup.html" . }}


      
    <div class="pinterest-images d-none">
        {{ $pinPath := "pins/**" }}
        {{ $pinImages := .Page.Resources.Match $pinPath }}

        {{ range $pinImages }}
          {{ $pin := .Resize "1000x" }}
          {{ with $pin }}
             <img src="{{ .RelPermalink }}" alt="{{$.Description}}">
          {{ end }}
        {{ end }}
    </div>

  </section>


  {{ with .Site.Data.home.benefits }}{{ partial "sections/benefits.html" . }}{{ end }}
  {{ with .Site.Data.home.trades }}{{ partial "sections/trades.html" . }}{{ end }}

{{ end }}

