{{ define "main" }}
<section class="section pt-1 pb-2 bg-dark">
    <div class="container-fluid p-0" style="position: relative; overflow-x: hidden;">
        
        <div class="row p-0 m-0">
            <!-- Left Panel -->
            <div class="col-xl-2 col-lg-3 col-sm-12 d-none d-lg-block d-xl-block p-0">
                {{ partial "social/profile_card" }}
            </div>
            <!-- Main Content Area -->
            <div class="col-xl-10 col-lg-9 col-sm-12 p-0">
                <div class="container-fluid p-0 m-0 h-100">
                    <div class="row h-100" id="memberTrades">
                        <div class="col-12 my-0">
                            <div class="card h-100 border-0 mx-lg-3 lg-rounded">
                                <div class="row p-0 m-0 justify-content-center ">
                                    {{ partial "social/social_navbar" }}
                                </div>
                                <div class="container-fluid px-3">
                                    <div class="row">
                                        <div class="col-12"><h1 class="gradient-text text-uppercase">Member Trades</h1></div>
                                    </div>
                                    <div class="row">
                                        <!-- Latest Trades -->
                                        <div class="col-lg-6 col-12 p-0">
                                            <div class="card border-0 lg-rounded p-lg-3 p-sm-0" id="tradeRecap">
                                                <!-- trade-card-template gets pasted into here -->
                                            </div>

                                            <!-- Top Winners -->
                                            <div class="card border-0 lg-rounded p-lg-3 p-sm-0">
                                                <div id="tradeScoreboard"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-12 p-0">
                                            <!-- Calendar Heatmap -->
                                            <div class="card border-0 lg-rounded p-lg-3 p-sm-0">
                                                <div  id="tradeHeatmap"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sliding Card -->
        {{ partial "social/trade_card_panel"}}
    </div>

    


    <!-- Trade Card Template -->
    <div class="col-lg-12 col-sm-12 trade-card-template d-none  ">
        <div class="card trade_card border-1 p-2 mx-0 my-1 lg-rounded gradient-green" >
            <div class="card-body p-1 tradeRow" onclick="selectContract(this);">
                <div class="container p-0">
                    <div class="row align-items-center">
                        <div class="col-lg-1 col-2 m-0">
                            <img class="tradeLogo" src="/images/logos/TSLA.png" style="width: 3em; border-radius: 2em; border: 3px solid white;" />
                        </div>
                        <div class="col-lg-11 col-10 px-3">
                            <div class="row ">
                                <div class="col-8 small lh-1 fw-bold text-uppercase traderName text-nowrap">Trader Name</div>
                                <div class="col-4"></div>
                            </div>
                            <div class="row">
                                <div class="col-8 fs-3 lh-1 tradeContract text-nowrap ">Contract</div>
                                <div class="col-4 fs-3 lh-1 tradeGain text-end">Gains %</div>
                            </div>
                            <div class="row">
                                <div class="col-10  small lh-1 tradeNotes text-muted text-uppercase" style="overflow: hidden; text-overflow: ellipses; white-space: nowrap;">Trade Notes</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Post Trade Modal -->
    <div id="postTradeModal" class="modal fade" tabindex="-1" aria-labelledby="postTradeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content glassy-bg">
                <div class="modal-header">
                    <h5 class="modal-title fs-3 text-uppercase" id="postTradeModalLabel">Post a Trade</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="validationErrors" class="p-2 text-danger mt-2"></div>

                    <form>
                        <div id="tradeErrorMessage" class="alert alert-danger small" role="alert" style="display: none">
                        </div>
                        <div class="form-group d-flex align-items-center">
                            <label for="txtInCommand" class="form-label m-2 text-nowrap">Trade Entry</label>
                            <input type="text" class="form-control" id="txtInCommand" placeholder="TSLA 200c at 6.90 exp 4/20 broke ORB High" autocomplete="off">
                            <span class="m-2 p-0 align-self-stretch" id="tradeEntryTooltip" data-toggle="tooltip" data-html="true"><i class="fa-solid fa-info"></i></span>
                        </div>
                        <!-- Display parsed command parts -->
                        <div class="parsed-output mt-3">
                            <div class="col-lg-12 col-sm-12">
                                <div class="card trade_card border-1 p-2 mx-0 my-1 lg-rounded gradient-green" >
                                    <div class="card-body p-1 tradeRow">
                                        <div class="container p-0">
                                            <div class="row align-items-center">
                                                <div class="col-lg-1 col-2 m-0">
                                                    <img id="parsedTradeLogo" class="tradeLogo" src="/images/logos/SPDR.png" style="width: 3em; border-radius: 2em; border: 3px solid white;" />
                                                </div>
                                                <div class="col-lg-11 col-10 px-3">
                                                    <div class="row ">
                                                        <div class="col-8 small lh-1 fw-bold text-uppercase traderName text-nowrap"><span id="parsedTraderName"></span></div>
                                                        <div class="col-4"></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-8 fs-3 lh-1 tradeContract text-nowrap "><span id="parsedSymbol">TICKER</span> <span id="parsedOption">STRIKE</span> <span id="parsedExpiration">EXP</span></div>
                                                        <div class="col-4 fs-3 lh-1 tradeGain text-end"><span id="parsedPrice">PRICE</span></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-10  small lh-1 tradeNotes text-muted text-uppercase" style="overflow: hidden; text-overflow: ellipses; white-space: nowrap;"><span id="parsedNotes">NOTES</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                       
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="saveTrade">Post Trade</button>
                </div>
            </div>
        </div>
    </div>

    <div id="exitTradeModal" class="modal fade" tabindex="-1" aria-labelledby="exitTradeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content glassy-bg">
                <div class="modal-header">
                    <h5 class="modal-title fs-3 text-uppercase" id="exitTradeModalLabel">Trimmed/Exited a Trade</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div id="tradeExitErrorMessage" class="alert alert-danger small" role="alert" style="display: none"></div>
                        <div class="form-group">
                            <label for="txtOutCommand" class="form-label">Trade Exit (example: 4.20 hitting price target)</label>
                            <input type="text" class="form-control" id="txtOutCommand" placeholder="Price Reason" autocomplete="off">
                        </div>
                    </form>

                    <!-- Display trade parts -->
                    <div class="parsed-output mt-3">
                        <div class="col-lg-12 col-sm-12">
                            <div class="card trade_card border-1 p-2 mx-0 my-1 lg-rounded gradient-green" >
                                <div class="card-body p-1 tradeRow">
                                    <div class="container p-0">
                                        <div class="row align-items-center">
                                            <div class="col-lg-1 col-2 m-0">
                                                <img id="trimTradeLogo" class="tradeLogo" src="/images/logos/SPDR.png" style="width: 3em; border-radius: 2em; border: 3px solid white;" />
                                            </div>
                                            <div class="col-lg-11 col-10 px-3">
                                                <div class="row ">
                                                    <div class="col-8 small lh-1 fw-bold text-uppercase traderName text-nowrap"><span id="trimTraderName"></span></div>
                                                    <div class="col-4"></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-8 fs-3 lh-1 tradeContract text-nowrap "><span id="trimSymbol">TICKER</span> <span id="trimOption">STRIKE</span> <span id="trimExpiration">EXP</span></div>
                                                    <div class="col-4 fs-3 lh-1 tradeGain text-end"><span id="trimPrice">PRICE</span></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10  small lh-1 tradeNotes text-muted text-uppercase" style="overflow: hidden; text-overflow: ellipses; white-space: nowrap;"><span id="trimNotes">NOTES</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="exitTrade">Exit Trade</button>
                </div>
            </div>
        </div>
    </div>



    <!-- Load Shared JS -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
	<script type="text/javascript" src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>

    <script>

        let tradeSocial = null;

        function selectContract(el){
            event.stopPropagation();
            const tradeid = $(el).attr("tradeid")
            tradeSocial.renderTradeDetails(tradeid);


            // Scroll to the top of the page
            window.scrollTo({
                top: 0,
                behavior: 'smooth' // Optional: adds a smooth scrolling effect
            });
        }


        $(document).ready(function() {
            tradeSocial = new TradeSocial();

            var handle = window.location.hash.substring(1); // Removes the '#' from the hash
            // if user is logged in, and no handle in the URL, then show the logged-in user details.
            if (handle != ""){
                tradeSocial.getMemberDetails(handle).then((memberProfile) => {
                    handle = memberProfile.handle;

                    tradeSocial.getMemberTrades(handle).then((trades) => {
                        tradeSocial.renderProfileCard(memberProfile, trades);
                        tradeSocial.renderTradeRecap(trades, new Date());
                        tradeSocial.renderScoreboard(trades);
                        tradeSocial.renderCalendar(trades);
                    });
                });
            }
            else{
                // use the authenticated user
                tradeSocial.getAuthenticatedMemberDetails((memberProfile) => {
                    handle = memberProfile.handle;

                    tradeSocial.getMemberTrades(handle).then((trades) => {
                        tradeSocial.renderProfileCard(memberProfile, trades);
                        tradeSocial.renderTradeRecap(trades, new Date());
                        tradeSocial.renderScoreboard(trades);
                        tradeSocial.renderCalendar(trades);
                    });
                });
            }

            firebase.auth().onAuthStateChanged((user) => {
                if (!user) {
                    // User is not signed in
                    window.location = "/login/"
                } 
            });

            // Function to handle the card click and hide on outside click
            $(document).on('click', function(event) {
                var contractCard = $('#contractDetailsCard');
                
                // If the card is visible and the click is outside of it
                if (contractCard.hasClass('show') && !$(event.target).closest('#contractCard').length) {
                    contractCard.removeClass('show');
                }
            });

            $('#contractDetailsCard').on('click', function(event) {
                event.stopPropagation(); // Stop the click event from bubbling up to the document
            });

            var tradeEntryHelpText = `
                <div class='container'>
                    <div class='row'>
                        <div class='col-12'>Examples</div>
                <div class='col-3'>options:</div><div class='col-9'>SPY 200c at 6.90 exp 4/20 Breaking above ORB High</div>
                <div class='col-3'>futures:</div><div class='col-9'> MES LONG at 5420 Breaking above ORB High</div>
                <div class='col-3'>commons:</div><div class='col-9'> TSLA LONG at 200 Breaking above ORB High</div>
            `
            $('#tradeEntryTooltip').tooltip({
                title: tradeEntryHelpText,
                html: true,
                width: 300
            });

        });

    </script>
</section>
{{ end }}
