{{ define "main" }}
<section class="section pt-1 pb-5 bg-dark">
    <div class="container-fluid p-0 " style="position: relative; overflow-x: hidden;">
        
        <div class="row p-0 m-0">
            <!-- Left Panel -->
            <div class="col-lg-2 col-sm-12 d-none d-lg-block p-0">
                {{ partial "social/profile_card" }}
            </div>
            <!-- Main Content Area -->
            <div class="col-lg-10 col-sm-12 p-0">
                <div class="container-fluid p-0 m-0 h-100">
                    <div class="row h-100">
                        <div class="col-12 my-0">
                            <div class="card h-100 border-0 p-0 mx-lg-3 lg-rounded">
                                <div class="row p-0 m-0 justify-content-center ">
                                    {{ partial "social/social_navbar" }}
                                </div>
                                <div class="container-fluid px-3">
                                    <div class="row">
                                        <div class="col-12"><h1 class="gradient-text text-uppercase">Discover The Best Traders</h1></div>
                                    </div>
                                    <div class="row discover_cards">
                                        <div class="col-lg-3 p-0 py-lg-3 profile-card-template d-none">
                                            {{ partial "social/profile_card_sm" }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       

    <!-- Load Shared JS -->

    <script>

        let tradeSocial = null;

        $(document).ready(function() {
            var handle = null
            var tradeSocial = new TradeSocial();

           
            // use the authenticated user
            tradeSocial.getAuthenticatedMemberDetails((memberProfile) => {
                handle = memberProfile.handle;

                tradeSocial.getMemberTrades(handle).then((trades) => {
                    tradeSocial.renderProfileCard(memberProfile, trades);
                    tradeSocial.list_users()
                });
            });

            firebase.auth().onAuthStateChanged((user) => {
                if (!user) {
                    // User is not signed in
                    window.location = "/login/"
                } 
            });
            

        });

    </script>
</section>
{{ end }}
