{{ define "main" }}


<section class="section  bg-dark">
    

    <div id="timeline" class="timeline-container">
        <div class="column ">
            <h4 class="gradient-profile-card gold-card text-white text-uppercase fw-bold p-3"  >Trade Planner</h4>
                <div class="post border-0">
                    {{ partial "planner/gamma_explanation" (dict "symbol" "SPY") }}
                </div>

                <div class=" post px-4 border-0">
                    {{ partial "planner/search_ticker"}}
                </div>
    
                <div class="post border-0">
                    {{ partial "planner/watchlist" }}
                </div>
        </div>

        <div class="column">
            <h4 class="gradient-green text-white p-3">Following on TradeSocial (BETA)</h4>
            {{ partial "planner/trade_alerts" }}
        </div>


        <div class="column">
            <h4 class="gradient-red text-white p-3">Daily Reversals</h4>
            <div id="WL_Reversals"></div>
        </div>

        <div class="column">
            <h4 class="bg-primary text-white p-3">Chart Setups</h4>
            <div id="X_Charts" ></div>
        </div>

        <div class="column">
            <h4 class="bg-warning text-white p-3">Trade Ideas</h4>
            <div id="X_TradeIdeas"></div>
        </div>

        <div class="column">
            <h4 class="gradient-gold text-white p-3">OI Tracker</h4>
            <div id="WL_FlowTracker"></div>
        </div>

        <div class="column">
            <h4 class="gradient-blue text-white p-3">Options Flow</h4>
            <div id="X_OptionsFlow" ></div>
        </div>


    </div>


    

    <!-- Load Shared JS -->
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>

    <script>

       // Function to handle the scroll shake effect
        function triggerScrollHint(container) {
            // Temporarily disable scroll snapping
            container.style.scrollSnapType = 'none';
            container.style.scrollBehavior = 'smooth';

            // Perform the scroll "peekaboo" effect
            container.scrollLeft += 25;
            setTimeout(() => {
                container.scrollLeft -= 25; // Move back to the original position

                // Re-enable scroll snapping after the animation
                setTimeout(() => {
                    container.style.scrollSnapType = 'x mandatory';
                    container.style.scrollBehavior = '';
                }, 300);
            }, 300);
        }

        let tradePlanner = null;


        $(document).ready(function() {
            tradePlanner = new TradePlanner();

            // Gamma Generated Market Recommendation
            tradePlanner.fetchGEXByStrike("SPY", "#spyGammaChart", idx=0, historicals=false);
            tradePlanner.fetchIVData("SPY");

            // populate timeline columns
            tradePlanner.getAuthenticatedMemberDetails((memberProfile) => {
                tradePlanner.fetchTradesFromPeopleIFollow();
            });

            tradePlanner.fetchScreener();
            tradePlanner.fetchAllFlow();
            tradePlanner.fetchXPosts();

            timelineContainer = document.querySelector("#timeline");
            if (timelineContainer) {
                // Only trigger the scroll hint on mobile devices
                if (window.innerWidth <= 768) {  // Adjust the width as needed
                    triggerScrollHint(timelineContainer);
                }
            }


        });

    </script>
</section>
{{ end }}
