{{ define "main" }}
<section class="section pt-1 pb-2 bg-dark">
    <div class="container-fluid p-0" style="position: relative; overflow-x: hidden;">
        
        <div class="row p-0 m-0">
            <!-- Left Panel -->
            <div class="col-lg-2 col-sm-12 d-none d-lg-block p-0">
                {{ partial "social/profile_card" }}
            </div>
            <!-- Main Content Area -->
            <div class="col-lg-10 col-sm-12 p-0">
                <div class="container-fluid p-0 m-0 h-100">
                    <div class="row h-100" id="memberTrades">
                        <div class="col-12 my-0">
                            <div class="card h-100 border-0 mx-lg-3 lg-rounded">
                                <div class="row p-0 m-0 justify-content-center ">
                                    {{ partial "social/social_navbar" }}
                                </div>
                                <div class="container-fluid px-3 pb-3">
                                    <div class="row">
                                        <div class="col-12"><h1 class="gradient-text text-uppercase">AI Analytics</h1></div>
                                    </div>
                                    <div class="row d-flex align-items-stretch">
                                        <div class="col-lg-4 col-sm-12 my-lg-3 p-lg-3 p-0 ">
                                            <div class="card  border-1 lg-rounded p-3 h-100" id="chart_wins_losses">
                                                <h2 class='text-uppercase px-3'>Wins vs Losses</h2>
                                                <div id="chartWinsVsLosses"></div>
                                            </div>
                                        </div>
                            
                                        <div class="col-lg-4 col-sm-12 my-lg-3 p-lg-3 p-0">
                                            <div class="card  border-1 lg-rounded p-3 h-100" id="chart_drawdown_turnaround">
                                                <h2 class='text-uppercase px-3'>Drawdown Turnaround</h2>
                                                <div  id="chartDrawdowns"></div>
                                            </div>
                                        </div>
                            
                                        <div class="col-lg-4 col-sm-12 my-lg-3 p-lg-3 p-0">
                                            <div class="card  border-1 lg-rounded p-3 h-100" id="chart_daily_radar">
                                                <h2 class='text-uppercase px-3'>Daily Radar</h2>
                                                <div  id="chartGainsDOWRadar"></div>
                                            </div>
                                        </div>

                                        <div class="col-lg-12 col-sm-12 my-lg-3 p-lg-3 p-0">
                                            <div class="card bg-dark text-white border-1 lg-rounded p-3" >
                                                <h2 class='text-uppercase px-3'>Observations ✨ </h2>
                                                <div id="aiRecommendations"></div>
                                                <div class="ai-template border-0 p-3 my-2 justify-content-center lg-rounded bg-dark text-white d-none"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       

    <!-- Load Shared JS -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <script>

        let tradeSocial = null;

        $(document).ready(function() {
            tradeSocial = new TradeSocial();

            var handle = null
            
            // get the member from the url
            handle = window.location.hash.substring(1); // Removes the '#' from the hash

            tradeSocial.getMemberDetails(handle).then(memberProfile => {
                tradeSocial.getMemberTrades(handle).then(trades => {
                    tradeSocial.renderProfileCard(memberProfile, trades);
                    tradeSocial.renderWinsVsLossesChart(trades);
                    tradeSocial.renderDrawDownsChart(trades);
                    tradeSocial.renderDayOfTheWeekRadar(trades);
                });
            })

        });

    </script>
</section>
{{ end }}
