{{ define "main" }}
  <section class="section blog-single py-5">
    <div class="container">

      <div class="row justify-content-center pb-0">
        <div class="col-12">
          {{ with .Title }}
            <h2 class="display-1 fw-bold text-center text-primary pb-3">{{ . }}</h2>
          {{ end }}
          {{ with .Params.description }}
            <p class="text-black-61 text-center pb-3">{{ . }}</p>
          {{ end }}
        </div>
      </div>

      <div>
        <div id="userName"></div>
        <div id="signOutButton"></div>
      </div>
      <div class="container py-0" id="instructorList">
        <!-- Each Instructor -->
        <div class="d-flex flex-row flex-nowrap pb-5 overflow-auto text-center" >
            <div class="card shadow border-0 p-3 m-1" style="min-width: 9em; border-radius: 15px; background-color: #c00; ">
                <div class="card-body p-0"> <strong><a href="#" id="signInButton" class="text-decoration-none text-light">LOG IN</a></strong></div>
            </div>
            
            <!-- <div id="loginModal" class="modal">
                <div class="modal-content">
                    <div id="firebaseui-auth-container"></div>
                    <div id="loader">Loading...</div>
                    <button id="closeModalButton">Close</button>
                </div>
            </div> -->

            <div class="card shadow border-0 p-3 m-1" style="min-width: 9em; border-radius: 15px; background-color: #29741d; ">
                <div class="card-body p-0"> <strong><a href="#" onclick="selectInstructor('ALL', 'ALL MENTORS');" class="text-decoration-none text-light">ALL MENTORS</a></strong></div>
            </div>
            <div class="card shadow border-0 p-3 m-1 " style="min-width: 9em; border-radius: 15px; background-color: #B3B3C8; ">
                <div class="card-body p-0"> <strong><a href="#" onclick="selectInstructor(530657179183874070, 'SITH')" class="text-decoration-none">SITH</a></strong></div>
            </div>

            <div class="card shadow border-0 p-3 m-1 " style="min-width: 9em; border-radius: 15px; background-color: #B3B3C8; ">
                <div class="card-body p-0"> <strong><a href="#" onclick="selectInstructor(667468315668774944, 'CASH MONEY TRADES')" class="text-decoration-none">CASH MONEY</a></strong></div>
            </div>

            <div class="card shadow border-0 p-3 m-1" style="min-width: 9em; border-radius: 15px; background-color: #B3B3C8; ">
                <div class="card-body p-0"> <strong><a href="#" onclick="selectInstructor(693307698229280818, 'LINK SNIPES')" class="text-decoration-none">LINK SNIPES</a></strong></div>
            </div>

            <div class="card shadow border-0 p-3 m-1" style="min-width: 9em; border-radius: 15px; background-color: #B3B3C8; ">
                <div class="card-body p-0"> <strong><a href="#" onclick="selectInstructor(572158547597590538, 'GOBI')" class="text-decoration-none">GOBI</a></strong></div>
            </div>

            <div class="card shadow border-0 p-3 m-1" style="min-width: 9em; border-radius: 15px; background-color: #B3B3C8; ">
                <div class="card-body p-0"> <strong><a href="#" onclick="selectInstructor(958441217073483776, 'MR WOOFERS')" class="text-decoration-none">MR WOOFERS</a></strong></div>
            </div>

            <div class="card shadow border-0 p-3 m-1" style="min-width: 9em; border-radius: 15px; background-color: #B3B3C8; ">
                <div class="card-body p-0"> <strong><a href="#" onclick="selectInstructor(751486945049444435, 'PAULDOZER')" class="text-decoration-none">PAULDOZER</a></strong></div>
            </div>
            
           
            <div class="card shadow border-0 p-3 m-1" style="min-width: 9em; border-radius: 15px; background-color: #B3B3C8; ">
                <div class="card-body p-0"> <strong><a href="#" onclick="selectInstructor(828445309885218886, 'WOODY')" class="text-decoration-none">WOODY</a></strong></div>
            </div>
        </div>
    </div>
     
     

    <div class="container">
        <div class="row mx-0 my-4 sparkboxes">
            <div class="col-lg-6 col-sm-12">
                <h1 class="m-3" id="titleUser">ALL MENTORS</h1>
            </div>
            <div class="col-lg-2 col-sm-6">
                <div class="card shadow border-0 p-3" style="background-color: #BFE1CF; ">
                    <div class="details">
                        <p class="small p-0 m-0">WIN RATE</p>
                        <h4 id="winRate">- %</h4>
                    </div>
                    <div id="winRateChart"></div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6">
                <div class="card shadow border-0 p-3" style="background-color: #BFE1CF; ">
                    <div class="details">
                        <p class="small p-0 m-0">AVG GAIN</p>
                        <h4 id="avgGain">- %</h4>
                    </div>
                    <div id="avgGainChart"></div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6">
                <div class="card shadow border-0 p-3" style="background-color: #BFE1CF; ">
                    <div class="details">
                        <p class="small p-0 m-0">WIN FACTOR</p>
                        <h4 id="profitFactor">- %</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12" id="tradeHeatmap"></div>
            <div class="col-lg-6 col-sm-12" id="tradeGainsBubble"></div>
            <div class="col-lg-6 col-sm-12" id="tradeGainsDOWRadar"></div>
            <div class="col-lg-12 col-sm-12">
                <div class="container">
                    <div class="row" id="tradeRecap">
                        <!-- trade-card-template gets pasted into here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
  

    <div class="col-lg-6 col-sm-12 trade-card-template d-none">
        <div class="card shadow border-0  mx-0 my-1" style="border-radius: 1em;">
            <div class="card-body p-1 tradeRow" onclick="selectContract(this);">
                <div class="container p-0">
                    <div class="row">
                        <div class="col-2 m-0">
                            <img class="tradeLogo" src="https://www.getthatcashmoney.com/images/logos/TSLA.png" style="width: 3em; border-radius: 2em;" />
                        </div>
                        <div class="col-10 px-3">
                            <div class="row">
                                <div class="col-8 small lh-1 fw-light text-uppercase traderName">Trader Name</div>
                                <div class="col-4"></div>
                            </div>
                            <div class="row">
                                <div class="col-8 fs-3 lh-1 tradeContract">Contract</div>
                                <div class="col-4 fs-3 lh-1 tradeGain text-end">Gains %</div>
                            </div>
                            <div class="row">
                                <div class="col-8  small lh-1 tradeNotes" style="overflow: hidden; text-overflow: ellipses; white-space: nowrap;">Trade Notes</div>
                                <div class="col-4"></div>
                            </div>
                        </div>
                    </div>
                    <div class="tvChartHeader m-4 card shadow border-0 d-none" style="border-radius: 1em;"> </div>
                    <div class="entryExitNotes small lh-1 m-4 p-3 card shadow border-0 d-none" style="border-radius: 1em; background-color: #BFE1CF;"></div>
                </div>
            </div>
        </div>
    </div>
          


    <!-- Load Shared JS -->
    {{- $tradesJS := resources.Get "js/shared/trades.js" -}}

    <script>{{- $tradesJS.Content | safeJS -}}</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

	<script type="text/javascript" src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>

    <script>
       
        // Firebase configuration

        var trades = new Trades();
        updateCharts();


        function selectInstructor(userid, title){
            if (userid == "ALL")
                userid = null;

            $('#titleUser').text(title);

            trades.selectUser(userid);
            this.updateCharts(userid);
        }

        function updateCharts(){
            trades.renderStats();
            trades.renderCalendar();
            trades.renderRecap();
            trades.renderGainsBubbleChart();
        }

        function selectContract(el){
            trades.renderTVChart($(el), $(el).attr("tradeid"));
        }


         // Wait for the DOM to be loaded
        document.addEventListener("DOMContentLoaded", function() {
            // Reference UI elements
            var signInButton = document.querySelector('#signInButton');
            var signOutButton = document.querySelector('#signOutButton');
            var userName = document.querySelector('#userName');
            var userProfilePic = document.querySelector('#userProfilePic');

            // Track user login status, Update UI elements upon changes in login state
            auth.onAuthStateChanged(function(user) {
            var currentPath = window.location.pathname;
            if (user) {
                console.log('User logged in');
                signInButton.style.display = "none";
                signOutButton.style.display = "block";

                if (userName !== null) {
                userName.innerHTML = 'Hi, ' + user.displayName;
                }

                if (userProfilePic !== null) {
                userProfilePic.src = user.photoURL;
                }

                if ('/profile' != currentPath) {
                location.href = '/profile';
                }
            } else {
                console.log('User not logged in');
                signOutButton.style.display = "none";
                signInButton.style.display = "block";
            }
            });

            // Sign out the user
            var signout = function() {
            auth.signOut();
            };

            // Sign up the user
            var signup = function() {
            var provider = new firebase.auth.EmailAuthProvider();
            firebase.auth().signInWithPopup(provider)
                .then(function(result) {
                // Handle successful login
                var user = result.user;
                console.log('User signed in:', user);
                })
                .catch(function(error) {
                // Handle login error
                var errorCode = error.code;
                var errorMessage = error.message;
                console.error('Login error:', errorCode, errorMessage);
                });
            };

            // Add event listeners to buttons
            signInButton.addEventListener('click', signup);
            signOutButton.addEventListener('click', signout);
        });
       
    </script>

  </section>
{{ end }}
