.fw-semibold {
  font-weight: 600;
}

.text-black-61 { color: rgba(0, 0, 0, 0.61); }

.bg-green { background-color: #bfe1cf; }
.bg-yellow { background-color: #F6DE9D; }
.bg-red { background-color: #FF87B0D9; }
.bg-purple { background-color: #ADA8D6; }

.bg-blue-16 {
  background-color: rgba(39, 163, 255, 0.16);
}

.border-blue-16 {
  border-color: rgba(39, 163, 255, 0.16);
}

.bg-blue-63 {
  background-color: rgba(220, 240, 255, 0.63);
}

.bg-blue-light {
  background-color: #F6FBFF;
}

.border-radius-34 {
  border-radius: 34px;
}

.size-16 {
  min-width: 16px;
  max-width: 16px;

  min-height: 16px;
  max-height: 16px;
}

.size-24 {
  min-width: 24px;
  max-width: 24px;

  min-height: 24px;
  max-height: 24px;
}

.size-64 {
  min-width: 64px;
  max-width: 64px;

  min-height: 64px;
  max-height: 64px;
}

.size-90 {
  min-width: 90px;
  max-width: 90px;

  min-height: 90px;
  max-height: 90px;
}

.aspect-ratio-62-5 {
  position: relative;
  width: 100%;
  max-height: 0;
  padding-bottom: 62.5%;

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.aspect-ratio-full {
  position: relative;
  width: 100%;
  max-height: 0;
  padding-bottom: 110%;

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.testimonial-card {
  border-radius: 15px;
}

.testimonial-card .card-up {
  height: 120px;
  overflow: hidden;
  border-radius: 15px;
}
  
.testimonial-card .avatar {
  width: 110px;
  margin-top: -60px;
  overflow: hidden;
  border: 3px solid #fff;
  border-radius: 50%;
}

.bg-gradient {
  background: #C9D6FF;
  background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
  background: linear-gradient(to right, #E2E2E2, #C9D6FF);
}

ul li {
  margin-bottom: 1.4rem;
}

.pricing-divider {
  border-radius: 20px;
  background: #C64545;
  padding: 1em 0 4em;
  position: relative;
}

.yellow .pricing-divider {
  background: #ffbd59;
}

.blue .pricing-divider {
  background: #2D5772;
}

.green .pricing-divider {
  background: #bfe1cf;
}


.yellow b {
  color: #ffbd59
}

.red b {
  color: #C64545
}

.blue b {
  color: #2D5772
}

.green b {
  color: #bfe1cf
}


.yellow .btn-custom {
  background: #ffbd59;
}

.red b.btn-custom {
  background: #C64545;
}

.blue .btn-custom {
  background: #2D5772;
}

.green .btn-custom {
  background: #bfe1cf;
}


.pricing-divider-img {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 80px;
}

.deco-layer {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.btn-custom {
  color: #fff;
  border-radius: 20px
}
.btn-custom:hover{
  color: #fff;
}
.img-float {
  width: 50px;
  position: absolute;
  top: -3.5rem;
  right: 1rem
}

.princing-item {
  transition: all 150ms ease-out;
}

.princing-item:hover {
  transform: scale(1.05);
}

.princing-item:hover .deco-layer--1 {
  -webkit-transform: translate3d(15px, 0, 0);
  transform: translate3d(15px, 0, 0);
}

.princing-item:hover .deco-layer--2 {
  -webkit-transform: translate3d(-15px, 0, 0);
  transform: translate3d(-15px, 0, 0);
}

.blog-content img {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
}

.sparkboxes .card {
  text-shadow: 0 1px 1px 1px #666;
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  position: relative;
  border-radius: 15px;
  height: 100px;
}

.sparkboxes .card .details {
  position: absolute;
  color: #000;
  transform: translate(0px, 10px);
}
.sparkboxes strong {
  position: relative;
  z-index: 3;
  color: #fff;
}

#winRateChart {
  margin-left: 60px;
}


.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 97vw;
  height: 97vh;
  z-index: 9999;
}

.mentor{
  display: none
}

.modal {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 0;
  border: 1px solid #888;
  border-radius: 15px;
  // width: 300px;
  max-width: 90%;
  overflow: hidden; /* This ensures that child elements do not overflow the rounded corners */
}

/* Styles for the left column with the image */
.modal-left-column img {
  // height: 100%;
  object-fit: cover;
  border-top-left-radius: 15px; /* Apply border-radius to the top-left of the image */
  border-bottom-left-radius: 15px; /* Apply border-radius to the bottom-left of the image */
}

/* Styles for the right column content */
.modal-right-column {
  border-top-right-radius: 15px; /* Apply border-radius to the top-right of the content */
  border-bottom-right-radius: 15px; /* Apply border-radius to the bottom-right of the content */
}

.modal-backdrop.show{
  opacity: 0;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Styling for the sidebar */
.popup {
  position: fixed;
  left: 0;
  bottom: -50%; /* Start with the sidebar hidden outside the screen */
  width: 100%;
  height: 50%;
  background-color: #F6FBFF;
  transition: bottom 0.5s ease;
  z-index: 9999; /* Make sure the sidebar is on top of other content */
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
}

.popup .newsletter-form {
  padding: 20px;
}

.popup .close-button {
  cursor: pointer;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.btn-circle {
  width: 50px;
  height: 50px;
  border-radius: 60px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}


.quiz {
  background-color: #555;
  border-radius: 10px;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  max-width: 100%;
}
.quiz > p{
  font-size: 32px;
}

.quiz .options{
  position: relative;
  padding-left: 40px;
  margin-left: 40px;
  margin-top: 20px;
}
.quiz .choices label{
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  text-align: left;
  cursor: pointer;
}
.quiz  .options input{
  opacity: 0;
}
.quiz .checkmark {
  position: absolute;
  top: -1px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #555;
  border: 1px solid #ddd;
  border-radius: 50%;
}
.quiz .options input:checked ~ .checkmark:after {
  display: block;
}
.quiz .options .checkmark:after{
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%,-50%) scale(0);
  transition: 300ms ease-in-out 0s;
}
.quiz .options input[type="radio"]:checked ~ .checkmark{
  background: #21bf73;
  transition: 300ms ease-in-out 0s;
}
.quiz .options input[type="radio"]:checked ~ .checkmark:after{
  transform: translate(-50%,-50%) scale(1);
}

.no-border-transparent-bg {
  border: none !important;
  background-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
}

/* To improve the appearance, you might also want to style the input when it's focused */
.no-border-transparent-bg:focus {
  border-color: transparent !important;
  box-shadow: none !important;
}

.no-border-transparent-bg::placeholder {
  color: black !important; /* Make placeholder text white */
  opacity: 1 !important; /* Ensure the color is not partially transparent */
}

/* For cross-browser compatibility, you might want to include these as well */
.no-border-transparent-bg:-ms-input-placeholder {
  color: black !important;
}

.no-border-transparent-bg::-ms-input-placeholder {
  color: black !important;
}


@media (min-width: 992px) { /* Large screens and up */
  #flow_tracker_row,
  #stock_social_row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
  }
}


#flow_tracker_row .social-card,
#stock_social_row .social-card {
  flex: 0 0 auto;
}

#flow_tracker_row .social-card .tweet-card,
#stock_social_row .social-card .tweet-card {
  border: 1px solid #e1e8ed;
  height: 450px;
  overflow-y: auto;
}

.post-column {
  max-height: 700px;
  overflow-y: scroll;
}

@media (min-width: 992px) { /* Large screens and up */
  .post-column {
      height: 700px;
  }
}


.tweet-card {
  max-width: 600px;
  // margin: 20px auto;
  margin-top: 0px;
  border: 0;
  border-bottom: 1px solid #e1e8ed;
  // border-radius: 10px;
}
.tweet-card:hover{
  background-color: #f8f9fa;
}
.tweet-header {
  display: flex;
  align-items: center;
}
.tweet-header img {
  border-radius: 50%;
  margin-right: 10px;
}
.tweet-body {
  margin-top: 10px;
}
.tweet-footer {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.tweet-footer i {
  margin-right: 5px;
}

.verticaltext {
  position: relative;
  padding-left: 0px;
  margin: 1em 0;
  min-height: 120px;
}

.verticaltext_content {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  left: -70px;
  top: 145px;
  position: absolute;
  color: #FFF;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: bold;
  text-wrap: nowrap;
}

.popover {
  max-width: 400px; /* Set the max width */
  width: 400px; /* Set the width */
}

.popover-image {
  max-width: 800px; /* Set the max width */
  width: 800px; /* Set the width */
}

// .popover-body {
//   height: 400px; /* Set the height */
// }
