{{ define "main" }}
  <section class="section blog-list">
    <div class="container">

      <div class="row p-0 justify-content-center sticky-top">
        <div class="col-12">
            <div class="container p-0 m-0">
                <div class="row pb-5 pt-2" >
                    <div class="col">
                        <div class="card border-0 p-0 bg-dark text-white" style="border-radius: 15px;">
                            {{ partial "shared/search-form.html" . }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
        
      <div class="row justify-content-center pb-5">
        <div class="col-12 col-xl-6">
          {{ with .Title }}
            <h1 class="fs-1 fw-bold text-center text-primary pb-3">{{ . }}</h1>
          {{ end }}
          {{ with .Params.description }}
            <p class="text-black-61 text-center pb-3">{{ . }}</p>
          {{ end }}
        </div>
      </div>

      
      <div class="row pb-5 justify-content-center">
        <div class="col-12 p-0">
            <div class="container p-0 m-0">
                <div class="row pb-5" id="results">

                </div>
            </div>
        </div>
      </div>

      <div id="search">
        {{ partial "shared/search-index.html" . }}
        </div>
  
  </section>
{{ end }}

